<section class="añadir-contact">
	<div class="col-md-8 offset-2">
<br>
		<h3>Añadir Cuenta</h3>
		<hr>
		<form [formGroup]="addform">
			<div class="row">
				<div class="form-group col">
					<label for="nombre">Nombre</label>
					<input type="text" formControlName="nombre" class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
					<div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
						<div *ngIf="f.nombre.errors.required">
							Por favor, ingrese el nombre de la cuenta
						</div>
					</div>
				</div>
				<div class="form-group col">
					<label for="tipo">Tipo</label>
					<select class="form-control" formControlName="tipo">
						<option value="standard">Standard</option>
						<option value="admin">Administrador</option>
					</select>
					<div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
						<div *ngIf="f.tipo.errors.required">
							Por favor, seleccione el tipo
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col">
					<label for="apPaterno">Apellido Paterno</label>
					<input type="text" formControlName="apPaterno" class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f.apPaterno.errors }" />
					<div *ngIf="submitted && f.apPaterno.errors" class="invalid-feedback">
						<div *ngIf="f.apPaterno.errors.required">
							Este campo es necesario
						</div>
					</div>
				</div>
				<div class="form-group col">
					<label for="apMaterno">Apellido Materno</label>
					<input type="text" formControlName="apMaterno" class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f.apMaterno.errors }" />
					<div *ngIf="submitted && f.apMaterno.errors" class="invalid-feedback">
						<div *ngIf="f.apMaterno.errors.required">
							Este campo es necesario
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col">
					<label for="direccion"> Dirección</label>
					<input type="text" formControlName="direccion" class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" />
					<div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
						<div *ngIf="f.direccion.errors.required">
							Este campo es necesario
						</div>
					</div>
				</div>
				<div class="form-group col">
					<label for="telefono"> #/ Teléfono</label>
					<input type="text" formControlName="telefono" class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
					<div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
						<div *ngIf="f.telefono.errors.required">
							Este campo es necesario
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col">
					<label for="correo"> Correo</label>
					<input type="text" formControlName="correo" class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
					<div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
						<div *ngIf="f.correo.errors.required">
							Este campo es necesario
						</div>
					</div>
				</div>
				<div class="form-group col">
					<label for="password"> Contraseña</label>
					<input type="password" formControlName="password" class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">
							Este campo es necesario
						</div>
					</div>
				</div>
			</div>

<!--
			<hr>
			<h3>Configuraciones de Sip WebRTC</h3>
			<hr>

			<form [formGroup]="addSipWeb">

				<div class="row justify-content-center">
					<div class="col-md-6 ">
						<label for="alias">Alias :</label>
						<input type="text" formControlName="alias" class="form-control" />
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 ">
						<label for="numero">Numero</label>
						<input type="text" class="form-control" formControlName="numero" />
					</div>
					<div class="col-md-6 ">
						<label for="password">Contraseña</label>
						<input type="password" class="form-control" formControlName="password" />
					</div>
				</div>
			</form>

			<br>
-->
			<div class="row  justify-content-center">
				<button class="btn btn-danger" [disabled]="addform.invalid" (click)="addContact();">Crear
					Contacto</button>
			</div>

		</form>




	</div>
</section>