<header>
	Panel de Estados
</header>

<div class="Contactos">
	<div class="table-responsive-vertical shadow-z-1">
		<!-- Table starts here -->
		<table id="table" class="table table-hover table-mc-light-blue">
			<thead>
				<tr>
					<th>Icon</th>
					<th>Numero</th>
					<th>Fecha</th>
					<th>Duracion</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<td data-title="Link">
						<i class="v-icon-incoming-call" tooltip="Entrante" style="color: green"></i>
					</td>
					<td data-title="Link">
						4001
					</td>
					<td data-title="Link">
						20/10/2019
					</td>
					<td data-title="Link">
						{{Tiempo}}
					</td>
					<td>
						<i class="v-icon-delete" tooltip="Finalizar" style="color: red"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>