
	<!-- Llamada SIP Inactivo -->
		<div class="escritorio__header">
			{{ Tipo }} {{ Estado }}
			<span (click)="CerrarLlamada(Nombre,Numero,Id,Tipo)" style="cursor: pointer;">
				<i class="v-icon-delete" tooltip="Cerrar" style="color: #f04747"></i>
			</span>
		</div>
		<div class="escritorio__body">
			<div>
				<div>
					{{ Nombre }} - {{Tipo}}
				</div>
				<div>
					<i class="fa fa-tv" aria-hidden="true"></i>
				</div>
			</div>
			<div>
				{{ Numero }}
			</div>
			<div>
				00:30
			</div>
		</div>
		<div class="escritorio__footer-normal" *ngIf="Tipo=='Llamada'">
			<button>
				<i class="fa fa-pause" aria-hidden="true"></i>
				PAUSA
			</button>
			<button class="escritorio__footer--play">
				<i class="fa fa-play" aria-hidden="true"></i>
				PLAY
			</button>
		</div>
		<div class="escritorio__footer-ptt" *ngIf="Tipo=='Sala'">
			<button class="escritorio__footer--play">
				<i class="fa fa-microphone" aria-hidden="true"></i>
				HABLAR
			</button>
		</div>





