<!-- Llamada con Sip -->
<div class="SipCall" style="border: 1px solid Red;width: 30%;">
  <div class="header">
    X
  </div>
  <div class="body">
    <div class="left">
      <div class="top">
        Nombre-Alias
      </div>
      <div class="bottom">
        Icon
      </div>
    </div>
    <div class="right">
      pause<br>
      colgar
    </div> 
  </div>
  <div class="footer">
    <3001> <br>
      00:30
  </div>
</div>


<!-- Llamada Con PTT -->

<div class="RadioCall" style="border: 1px solid Red;width: 30%;">
  <div class="header">
    X
  </div>
  <div class="body">
    <div class="left">
      <div class="top">
        Nombre-Alias
      </div>
      <div class="bottom">
        Icon
      </div>
    </div>
    <div class="right">
      PTT btn
    </div> 
  </div>
  <div class="footer">
    <3001> <br>
      00:30
  </div>
</div>