<br>
 <header>
      <h2>AÑADIR CONTACTO</h2>
  </header>
  <body>
      <div class="container ">
          <form class="añadir_contact" [formGroup]="addForm" (ngSubmit)="addContact()">
        <div class="row">
          <div class="col--md">
              <label for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" />
          </div>
          <div class="col-md">
              <label for="apellido">Apellido</label>
              <input type="text" formControlName="apellido" class="form-control" />
          </div>
        </div>
        
        <div class="row">
          <div class="col">
              <label for="alias">Alias</label>
              <input type="text" formControlName="alias" class="form-control" />  
          </div>
          <div class="col">
              <label for="tipo">Tipo</label>
              <select class="form-control form-control-sm" formControlName="tipo">
                  <option>SIP</option>
                  <option>IAX</option>
                </select>
          </div>
          <div class="col">
              <label for="telnumero">Teléfono/Número</label>
              <input type="text" formControlName="telnumero" class="form-control" />  
          </div>
        </div>

        <div class="row">
                <label for="descripcion">Descripción</label>
                <input type="text" formControlName="descripcion" class="form-control" />  
        </div>
        
        <div class="row">
          <div class="col">
              <button type="button" class="btn btn-danger" [routerLink]="['/Operador/Contactos']">Cancelar</button>
          </div>
          <div class="col">
              <button type="button" class="btn btn-primary" [routerLink]="['/Operador/Contactos']">Crear Contacto</button>
            </div>
        </div>
      </form>
      </div>
  </body>



<!--
<div class="form-body">
  <form method="POST" class="form">

      <label class="login__login--label">Nombre:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Nombre"
        required
      />
      <label class="login__login--label">Ap Paterno:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Ap. Paterno"
        required
      />
      <label class="login__login--label">Ap Materno:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Ap. Materno"
        required
      />
      <label class="login__login--label">Alias:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Alias"
        required
      />

    <p>Tipo:
      <input type="radio" name="hm" value="h"> SIP
      <input type="radio" name="hm" value="m"> IAX
    </p>
    <label class="login__login--label">Descripcion:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese una Descripcion"
        required
      />
    <br>
    <p>
      <input class="btn btn-primary" type="submit" value="Agregar">
      <input class="btn btn-danger" type="reset" value="Borrar">
    </p>
  </form>
</div>
-->


