<div class="form__header">
  <h1>Agregar Contacto</h1>
  <a href="/Operador/Contactos"><button type="button">volver Lista de Contactos</button></a>
</div>

<div class="form-body">
  <form method="POST" class="form">

      <label class="login__login--label">Nombre:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Nombre"
        required
      />
      <label class="login__login--label">Ap Paterno:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Ap. Paterno"
        required
      />
      <label class="login__login--label">Ap Materno:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Ap. Materno"
        required
      />
      <label class="login__login--label">Alias:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese su Alias"
        required
      />

    <p>Tipo:
      <input type="radio" name="hm" value="h"> SIP
      <input type="radio" name="hm" value="m"> IAX
    </p>
    <label class="login__login--label">Descripcion:</label>
      <input
        class=""
        type="text"
        placeholder="Ingrese una Descripcion"
        required
      />
    <br>
    <p>
      <input class="btn btn-primary" type="submit" value="Agregar">
      <input class="btn btn-danger" type="reset" value="Borrar">
    </p>
  </form>
</div>



