
<h2>Formulario para Agregar Radio</h2>
<hr>
<div class="modal-body">
	<div class="container ">
		<form class="añadir_contact" [formGroup]="addForm">

			<div class="row">
				<div class="col-md-4 ">
					<label for="alias">Nombre de la Radio :</label>
					<input type="text" formControlName="alias" class="form-control" />
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4">
					<label for="numero">Numero de la Radio</label>
					<input type="text"  class="form-control" formControlName="numero" />
				</div>
				<div class="col-md-4 ">
					<label for="password">Contraseña</label>
					<input type="password"  class="form-control" formControlName="password" />
				</div>
			</div>	
		</form>

		
	</div>
</div>
<div class="modal-footer ">
	<button type="button" class="btn btn-primary btn-block" [disabled]="addForm.invalid" (click)="addradio()">
		Crear Radio
	</button>
</div>