<h1>Detalle del Contacto</h1>
<div class="modal-footer ">
	<button type="button" class="btn btn-secondary btn-block" [routerLink]="['/Administrador/Contactos']">Volver</button>
	<button type="button" class="btn btn-success btn-block" [routerLink]="['/Administrador/EditarContacto', {id: identy}]">Editar Contacto</button>
	<button type="button" class="btn btn-primary btn-block" [routerLink]="['/Administrador/AgregarNumero', {id: identy}]">Agregar Numero</button>
</div>
<hr>

<section class="detalle-Contacto">

	<div>
		<!-- Table starts here -->
		<table id="table" class="table table-hover">
			<tbody >
				<tr >
					<td data-title="Link">
						<b>Nombre Completo</b>
					</td>
					<td data-title="Link">
						{{Contact['nombre']}} {{Contact['apPaterno']}} {{Contact['apMaterno']}}
					</td>
				</tr>
					<tr >
					<td data-title="Link">
						<b>Correo Electronico</b>
					</td>
					<td data-title="Link">
						{{Contact['correo']}}
					</td>
				</tr>
					<tr >
					<td data-title="Link">
						<b>Direccion</b>
					</td>
					<td data-title="Link">
						{{Contact['direccion']}}
					</td>
				</tr>
					<tr >
					<td data-title="Link">
						<b>Telefono</b>
					</td>
					<td data-title="Link">
						{{Contact['telefono']}}
					</td>
				</tr>
					<tr >
					<td data-title="Link">
						<b>Tipo</b>
					</td>
					<td data-title="Link">
						{{Contact['tipo']}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<hr>
<br>
<h1>Sips</h1>
<section class="lista-sip">
	<div *ngFor="let n of Sip_Iax[0]; let i=index">
		<sip
		Alias="{{Sip_Iax[0][i]['name']}}"
		Numero="{{Sip_Iax[0][i]['callerid']}}"
		Context="{{Sip_Iax[0][i]['context']}}"
		></sip>
	</div>
</section>
<br>
<h1>Iax</h1>
<section class="lista-iax">
	<div *ngFor="let n of Sip_Iax[1]; let i=index">
		<iax
		Alias="{{Sip_Iax[1][i]['name']}}"
		Numero="{{Sip_Iax[1][i]['callerid']}}"
		Context="{{Sip_Iax[1][i]['context']}}"
		></iax>
	</div>
</section>
