<h1>Detalles</h1>

<div>
		<table id="table" class="table table-hover">
			<tbody >
				<tr >
					<td data-title="Link">
						<b>Name</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['name']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>CallerID</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['callerid']}}
					</td>
				</tr>
					<tr >
					<td data-title="Link">
						<b>Allow</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['allow']}}
					</td>
				</tr>
					<tr >
					<td data-title="Link">
						<b>AVPF</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['avpf']}}
					</td>
				</tr>
					<tr >
					<td data-title="Link">
						<b>CallCounter</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['callcounter']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>CallGroup</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['callgroup']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>canreinvite</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['canreinvite']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>context</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['context']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>CallerID</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['callerid']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>deny</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['deny']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>dial</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['dial']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>directmedia</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['directmedia']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>disallow</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['disallow']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>dtlscafile</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['dtlscafile']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>dtlscertfile</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['dtlscertfile']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>dtlsenable</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['dtlsenable']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>dtlssetup</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['dtlssetup']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>dtlsverify</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['dtlsverify']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>dtnfnode</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['dtnfnode']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>encryption</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['encryption']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>faxdetect</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['faxdetect']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>CallerID</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['callerid']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>force_avp</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['force_avp']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>host</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['host']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>icesupport</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['icesupport']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>nat</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['nat']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>permit</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['permit']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>pickupgroup</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['pickupgroup']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>qualify</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['qualify']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>qualifyfreq</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['qualifyfreq']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>rtcp_mux</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['rtcp_mux']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>secret</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['secret']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>sendrpid</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['sendrpid']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>switchsip</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['switchsip']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>transport</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['transport']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>trustrpid</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['trustrpid']}}
					</td>
				</tr>
				<tr >
					<td data-title="Link">
						<b>type</b>
					</td>
					<td data-title="Link">
						{{Sip_Iax['type']}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<button type="button" class="btn btn-success btn-block" [routerLink]="['/Administrador/DetalleCuenta']">Volver</button>