.administrador-dashboard{
	text-align: center;
	display: grid;
	grid-template-rows: 10vh 90vh;
	grid-template-areas:
		'navigation'
		'content';
	height: 100vh;
	overflow: hidden;
	background: #89909F;
}
.navigation{
	grid-area: navigation;
	display: grid;
	//border: 1px solid grey;
	border-radius: 4px;
	margin: 1px;
	background: #0B121B;
}
.content{
	grid-area: content;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas: 'content-menu content-pages';


}
.content-menu{
	grid-area: content-menu;
	display: grid;
	//border: 1px solid grey;
	border-radius: 4px;
	margin: 1px;
	background: #0B121B;
	overflow-y: scroll;
		li{
			display: grid;
			margin: 20px;
			a{ 	
				padding-left: 20px;
				text-align: left;
				font-size: 12px;
				text-decoration: none;
				background: none;
				color: #fff;
				i{
					margin-right: 25px;
					font-size: 30px;
					//padding-bottom: 20px;
				}
				
			}
			
			a:hover{
				background: none;
				color: #1abc9c;
			}
		}
		.Item{
			cursor: default;
			text-transform: uppercase;
		}
		.Item:hover{
			color: #fff;
			cursor: default;
		}
		.subItem{
			padding-left: 65px;
			
		}
		.subItem::before{
			content: "> ";
		}	
}
	.content-menu::-webkit-scrollbar-track
	{
		
	background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 5px;
	}

	.content-menu::-webkit-scrollbar
	{
		 width: 7px;
	}

	.content-menu::-webkit-scrollbar-thumb
	{
		-webkit-border-radius: 10px;
    border-radius: 3px;
    background: #666B7A;
	background: -webkit-linear-gradient(to bottom, #2c3e50, #666B7A);  
	background: linear-gradient(to bottom, #2c3e50, #666B7A); 

	}

.content-pages{
	grid-area: content-pages;
	//display: grid;
	//border: 1px solid grey;
	border-radius: 4px;
	margin: 5px;
	overflow-y: scroll;
	background: #EBECEE;
}
	.content-pages::-webkit-scrollbar-track
	{
		background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 5px;
	}

	.content-pages::-webkit-scrollbar
	{
		width: 7px;
	}

	.content-pages::-webkit-scrollbar-thumb
	{
			-webkit-border-radius: 10px;
    border-radius: 3px;
    background: #666B7A;
	background: -webkit-linear-gradient(to bottom, #2c3e50, #666B7A);  
	background: linear-gradient(to bottom, #2c3e50, #666B7A); 

	}

	