<h1></h1>
<!--<input type="button" value="Volver" [routerLink]="['/Administrador/DetalleContacto']">-->

<div class="modal-header">
	<h6 class="modal-title">Formulario para Agregar una Sala</h6>
</div>

<div class="modal-body">
	<div class="container ">
		<form class="añadir_contact">

			<div class="row">
				<div class="col-md-8 offset-md-2 ">
					<label for="nombre">Nombre de la sala:</label>
					<input type="text"  class="form-control"/>
				</div>
				<div class="col-md-8 offset-md-2 ">
					<label for="nombre">Descripcion de la sala:</label>
					<input type="text"  class="form-control"/>
				</div>
				<div class="col-md-8 offset-md-2 ">
					<label for="nombre">Dimension:</label>
					<input type="text"  class="form-control"/>
				</div>
			</div>

		</form>

		
	</div>
</div>
<div class="modal-footer ">
	<button type="button" class="btn btn-success btn-block" >
		Crear Sala
	</button>
</div>
