<div class="container">
	<h3>Añadir Sala</h3>
	<form [formGroup]="addform">

		<div class="form-group row justify-content-center">
			<div class="col-md-6">
				<label for="nombreSala">Nombre de Sala</label>
				<input type="text" formControlName="nombreSala" class="form-control"
					[ngClass]="{ 'is-invalid': submitted && f.nombreSala.errors }" />
				<div *ngIf="submitted && f.nombreSala.errors" class="invalid-feedback">
					<div *ngIf="f.nombreSala.errors.required">
						Este campo es necesario
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class="col-md-6">
				<label for="descripcion">Descripción de la Sala</label>
				<input type="text" formControlName="descripcion" class="form-control"
					[ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
				<div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
					<div *ngIf="f.descripcion.errors.required">
						Este campo es necesario
					</div>
				</div>
			</div>
		</div>


		<div class="row  justify-content-center">
			<button class="btn btn-danger" [disabled]="addform.invalid" (click)="addSala()">Añadir Sala</button>
		</div>

	</form>

</div>
