
<div class="modal-header">
	<h6 class="modal-title">AÑADIR CONTACTO</h6>
</div>

<div class="modal-body">
	<div class="container ">
		<form class="añadir_contact" [formGroup]="addForm" (ngSubmit)="onSubmit()">

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="nombre">NOMBRE</label>
					<input type="text" formControlName="nombre" class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="apPaterno">APELLIDO PATERNO</label>
					<input type="text" formControlName="apPaterno" class="form-control" />
				</div>
				<div class="col-md-6 form-group">
					<label for="apMaterno">APELLIDO MATERNO</label>
					<input type="text" formControlName="apMaterno" class="form-control" />
				</div>
			</div>	
			

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="direccion">DIRECCIÓN</label>
					<input type="text" formControlName="direccion" class="form-control" />
				</div>
				<div class="col-md-6 form-group">
					<label for="telefono">#/TELÉFONO</label>
					<input type="text" formControlName="telefono" class="form-control" />
				</div>
				<!-- <div class="col-md-4 form-group">
					<label for="telnumero">TIPO</label>
					<select class="form-control" id="inputGroupSelect01" formControlName="tipo">
						<option value="SIP">SIP</option>
						<option value="IAX">IAX</option>
					</select>
				</div> -->
				
			</div>

			<div class="row">
					<label for="correo">CORREO</label>
					<input type="text" formControlName="correo" class="form-control" />
			</div>	
			<div class="row">	
					<label for="password">CONTRASEÑA</label>
					<input type="password" formControlName="password" class="form-control" />
			</div>
		</form>

		<form  [formGroup]="addFormSip">
			<div class="row">
				<label for="name">ALIAS</label>
				<input type="text" formControlName="name" class="form-control" />
		</div>	
		<div class="row">	
				<label for="callerId">CALLER ID</label>
				<input type="text" formControlName="callerId" class="form-control" />
		</div>
		</form>

		
	</div>
</div>
<div class="modal-footer form-group">
	<button type="button" class="btn btn-danger btn-block" >Cancelar</button>
	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal" [disabled]="addForm.invalid" (click)="crearcontacto()">
		Crear contacto
	</button>
</div>
