<section class="d-sidebar">
  <!-- *******primera columna******* -->
  <div class="d-sidebar__1col">
    <button type="button">D</button>

    <div class="d-sidebar__1col--sala">
      <button type="button">S1</button>
      <button type="button">S2</button>
      <button type="button">S3</button>
      <button type="button">S4</button>
      <button type="button">+</button>
    </div>

    <div class="d-sidebar__1col--options">
      <button>
        <i class="large material-icons md-48">location_on</i>
      </button>
      <button>
        <i class="large material-icons md-48">call</i>
      </button>
      <button>
        <i class="large material-icons md-48">settings</i>
      </button>
    </div>
  </div>

  <!-- *******segunda columna******* -->
  <div class="d-sidebar__info">
    <!-- ********menu desplegable******** -->
    <div class="btn-group" dropdown>
      <button
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
      >
        Usuario-1 <span class="caret"></span>
      </button>

      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" href="#">Historial de Llamada</a>
        </li>
        <li class="divider dropdown-divider"></li>

        <li role="menuitem">
          <a class="dropdown-item" href="#">Grabaciones</a>
        </li>
        <li class="divider dropdown-divider"></li>

        <li role="menuitem">
          <a class="dropdown-item" href="#">Tracking</a>
        </li>
        <li class="divider dropdown-divider"></li>

        <li role="menuitem">
          <a class="dropdown-item" href="#">Cuentas</a>
        </li>
        <li class="divider dropdown-divider"></li>

        <li role="menuitem">
          <a class="dropdown-item" href="#">Roles</a>
        </li>
      </ul>
    </div>
    <!-- ********contenido******** -->
    <div></div>
    <!-- *********estado********     -->
    <div></div>
  </div>
</section>
