<div class="notificaciones">
	<div class="n-nombre">
		Alias
		3001
	</div>
	<div class="n-tipo--entrante">
		Llamada Entrante
	</div>
	<div class="n-accion">
		Contestar
	</div>
</div>

<div class="notificaciones">
	<div class="n-nombre">
		Alias
		3002
	</div>
	<div class="n-tipo--entrante">
		Llamada Entrante
	</div>
	<div class="n-accion">
		Contestar
	</div>
</div>

<div class="notificaciones">
	<div class="n-nombre">
		Alias
		3003
	</div>
	<div class="n-tipo--espera">
		Llamada en Espera
	</div>
	<div class="n-accion">
		Contestar
	</div>
</div>

<div class="notificaciones">
	<div class="n-nombre">
		Alias
		3004
	</div>
	<div class="n-tipo--entrante">
		Llamada Entrante
	</div>
	<div class="n-accion">
		Contestar
	</div>
</div>