<section class="operador-dashboard">
    <div class="Navegador">
        <div class="Logo">
            <small> </small>
            <!-- <h3 style="color: cyan; padding-left: 10px;">Asterisk</h3> -->
            <app-asterisk></app-asterisk>
        </div>
        <div class="Options">
            <div class="navbar">
                <ul>
                    <li (click)="ChangeWindow('Dashboard')">
                        <a>
                            <div class="icon">
                                <i class="asteriskIcon v-icon-bubbles4" placement="right"></i>
                            </div>
                            <div class="name"><span data-text="Salas">Dashboard</span></div>
                        </a>
                    </li>
                    <li (click)="ChangeWindow('Historial')">
                        <a [routerLink]="['/Operador/Historial']">
                            <div class="icon">
                                <i class="asteriskIcon v-icon-phone1" placement="right"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Historial de Llamadas</span></div>
                        </a>
                    </li>
                    <li (click)="ChangeWindow('Grabaciones')">
                        <a [routerLink]="['/Operador/Grabaciones']">
                            <div class="icon">
                                <i class="asteriskIcon v-icon-cassette" placement="right"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Grabaciones</span></div>
                        </a>
                    </li>
                    <li (click)="ChangeWindow('Tracking')">
                        <a [routerLink]="['/Operador/Tracking']">
                            <div class="icon">
                                <i class="asteriskIcon v-icon-location"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Tracking</span></div>
                        </a>
                    </li>
                    <!--<li (click)="ChangeWindow()">
                        <a>
                            <div class="icon">
                                <i class="asteriskIcon v-icon-add"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Otros</span></div>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="UserBar" style="color: white; padding-left: 20px">
            <div class="UserBar_logo"></div>

            <div class="UserBar_Option">
                <div class="btn-group" dropdown>
                    <button id="button-animated" dropdownToggle type="button" class="btn_dropdown dropdown-toggle" aria-controls="dropdown-animated">
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                        <li role="menuitem">
                            <a class="dropdown-item" style="cursor: pointer" (click)="AgregarEventoNotificacion()"
                                ><i class="v-icon-wifi-low"></i><span>Evento Notificacion</span></a
                            >
                        </li>
                        <li role="menuitem" class="Item_Dropdown">
                            <a class="dropdown-item" href="/Login"><i class="v-icon-enter"></i><span>Salir</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="UserBar_info">
                <span>
                    {{ user['correo'] }}<br />
                    {{ NumeroActual }} - Default<br />
                </span>
            </div>
        </div>
    </div>
    <div class="Content" *ngIf="pages == false; else elseBlock" [@SladeOff]>
        <div class="LateralIzq">
            <div class="LateralIzq_Sup">
                <header>Notificaciones</header>
                <div class="notificacionEffect" *ngFor="let n of Notificaciones; let i = index" [@flyIn]>
                    <Notificacion
                        (ContestaLlamada)="ContestarLlamada($event)"
                        (CancelaLlamada)="ColgarLlamada($event)"
                        Nombre="{{ Notificaciones[i]['nombre'] }}"
                        Numero="{{ Notificaciones[i]['numero'] }}"
                        Estado="{{ Notificaciones[i]['estado'] }}"
                        Id="{{ Notificaciones[i]['id'] }}"
                    ></Notificacion>
                </div>
                <div class="empty" *ngIf="Notificaciones.length == 0">
                    <p>No hay <br />Notificaciones</p>
                </div>
            </div>
            <div class="LateralIzq_Inf">
                <fa-icon [icon]="faMicro" (click)="muteMicrophone()" [ngStyle]="{ color: Microphone }"></fa-icon>
                <fa-icon [icon]="faSenal" [ngStyle]="{ color: Connection }"></fa-icon>
                <fa-icon [icon]="faSenalAsterisk" (click)="verificar()" [ngStyle]="{ color: connectionAsterisk }"> </fa-icon>
            </div>
        </div>
        <div class="CenterContent" *ngIf="panel == false; else elseBlockPanel">
            <div class="CenterContent_Sup">
                <header>Escritorio</header>
                <section class="e-responsive">
                    <div *ngFor="let n of Llamada; let i = index" class="SalaLlamadaRadio">
                        <llamada
                            (llamadaClose)="CerrarLlamada($event)"
                            (Participantes)="VerParticipantes($event)"
                            Nombre="{{ Llamada[i]['nombre'] }}"
                            Descripcion="{{ Llamada[i]['descripcion'] }}"
                            Numero="{{ Llamada[i]['numero'] }}"
                            Tipo="{{ Llamada[i]['Tipo'] }}"
                            Id="{{ Llamada[i]['id'] }}"
                            Estado="{{ Llamada[i]['Estado'] }}"
                            Src="{{ NumeroActual }}"
                            Dts="{{ n.numero }}"
                        ></llamada>
                    </div>
                </section>
            </div>
            <div class="CenterContent_Inf">
                <div class="CenterContent_InfPanel">
                    <header (click)="LoaderPanel()" style="cursor: pointer">Panel de Estados</header>
                    <panel></panel>
                </div>
                <div class="CenterContent_InfInfo">
                    <header *ngIf="!mostrarParticipantes">Info</header>
                    <app-info *ngIf="!mostrarParticipantes"></app-info>
                    <header *ngIf="mostrarParticipantes">Participantes</header>
                    <app-participantes [Participantes]="ParticipantesSala2" *ngIf="mostrarParticipantes"></app-participantes>
                </div>
            </div>
        </div>
        <ng-template #elseBlockPanel>
            <div class="CenterPanel" [@FadeIn]>
                <header (click)="LoaderPanel()" style="cursor: pointer">Panel en tiempo real</header>
                <!--<div *ngFor="let n of object; let i = index">
                    ABCDFE
                    <br />
                </div>-->
                <panel></panel>
            </div>
        </ng-template>
        <div class="LateralDer">
            <div class="LateralDer_Sup">
                <div class="LDSup-header">
                    <header class="animated fadeIn">
                        <button [ngStyle]="Sala && { 'font-weight': 'bold' }" (click)="salaActive()">Salas</button>
                    </header>

                    <header class="animated fadeIn">
                        <button [ngStyle]="!Sala && { 'font-weight': 'bold' }" (click)="agendaActive()">Agenda</button>
                    </header>
                    <header class="animated fadeIn">
                        <button [ngStyle]="!Sala && { 'font-weight': 'bold' }" (click)="addFriendActive()">
                            <i-feather name="plus-square"></i-feather>
                        </button>
                    </header>

                    <header class="animated fadeIn">
                        <button [ngStyle]="!Sala && { 'font-weight': 'bold' }" (click)="dialpadActive()">Dialpad</button>
                    </header>
                </div>
                <section *ngIf="Sala">
                    <div class="SalaEffect" *ngFor="let n of Salas; let i = index" [@flyIn]>
                        <Sala
                            (DatoSala)="RegistraSala($event)"
                            Nombre="{{ Salas[i]['nombreSala'] }}"
                            Descripcion="{{ Salas[i]['descripcion'] }}"
                            Id="{{ Salas[i]['id'] }}"
                        >
                        </Sala>
                    </div>
                    <div class="empty" *ngIf="Salas.length == 0">
                        <p>No hay Salas</p>
                    </div>
                </section>
                <Agenda *ngIf="Agenda"></Agenda>
                <dialpad *ngIf="Dialpad" (llamadaDialpad)="DialpadCall($event)"> </dialpad>
                <Addfriend *ngIf="AddFriend"></Addfriend>
            </div>
            <div class="LateralDer_Inf">
                <app-registro-llamadas></app-registro-llamadas>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="pages" [@SladeIn] style="border-bottom: 5px solid black">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</section>
