<section class="operador-dashboard">
    <div class="Navegador">
        <div class="Logo">
            <small> </small>
            <!-- <h3 style="color: cyan; padding-left: 10px;">Asterisk</h3> -->
            <app-asterisk></app-asterisk>
        </div>
        <div class="Options">
            <div class="navbar">
                <ul>
                    <li (click)="ChangeWindow('Dashboard')">
                        <a>
                            <div class="icon">
                                <i class="asteriskIcon v-icon-bubbles4" placement="right"></i>
                            </div>
                            <div class="name"><span data-text="Salas">Dashboard</span></div>
                        </a>
                    </li>
                    <li (click)="ChangeWindow('Historial')">
                        <a [routerLink]="['/Operador/Historial']">
                            <div class="icon">
                                <i class="asteriskIcon v-icon-phone1" placement="right"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Historial de Llamadas</span></div>
                        </a>
                    </li>
                    <li (click)="ChangeWindow('Grabaciones')">
                        <a [routerLink]="['/Operador/Grabaciones']">
                            <div class="icon">
                                <i class="asteriskIcon v-icon-cassette" placement="right"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Grabaciones</span></div>
                        </a>
                    </li>
                    <li (click)="ChangeWindow('Tracking')">
                        <a [routerLink]="['/Operador/Tracking']">
                            <div class="icon">
                                <i class="asteriskIcon v-icon-location"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Tracking</span></div>
                        </a>
                    </li>
                    <!--<li (click)="ChangeWindow()">
                        <a>
                            <div class="icon">
                                <i class="asteriskIcon v-icon-add"></i>
                            </div>
                            <div class="name"><span data-text="DialPad">Otros</span></div>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="UserBar" style="color: white; padding-left: 20px">
            <div class="UserBar_logo"></div>

            <div class="UserBar_Option">
                <div class="btn-group" dropdown>
                    <button id="button-animated" dropdownToggle type="button" class="btn_dropdown dropdown-toggle" aria-controls="dropdown-animated">
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                        <li role="menuitem">
                            <a class="dropdown-item" style="cursor: pointer" (click)="AgregarEventoNotificacion()"
                                ><i class="v-icon-wifi-low"></i><span>Evento Notificacion</span></a
                            >
                        </li>
                        <li role="menuitem" class="Item_Dropdown">
                            <a class="dropdown-item" href="/Login"><i class="v-icon-enter"></i><span>Salir</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="UserBar_info">
                <div>
                    <!-- {{ user['correo'] }} -->
                </div>
                <div class="numSala">
                    <div>{{ NumeroActual }} <fa-icon [icon]="numeroIcon"></fa-icon></div>
                    <div class="text-success">{{ nombreSala }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Content" *ngIf="pages == false; else elseBlock" [@SladeOff]>
        <div class="LateralIzq">
            <div class="LateralIzq_Sup">
                <header>Notificaciones</header>
                <div class="notificacionEffect" *ngFor="let n of Notificaciones; let i = index" [@flyIn]>
                    <Notificacion
                        (ContestaLlamada)="ContestarLlamada($event)"
                        (CancelaLlamada)="ColgarLlamada($event)"
                        Nombre="{{ Notificaciones[i]['nombre'] }}"
                        Numero="{{ Notificaciones[i]['numero'] }}"
                        Estado="{{ Notificaciones[i]['estado'] }}"
                        Id="{{ Notificaciones[i]['id'] }}"
                    ></Notificacion>
                </div>
                <div class="empty" *ngIf="Notificaciones.length == 0">
                    <p>No hay <br />Notificaciones</p>
                </div>
            </div>
            <div class="LateralIzq_Inf">
                <fa-icon [icon]="faMicro" (click)="muteMicrophone()" [ngStyle]="{ color: Microphone }"></fa-icon>
                <fa-icon [icon]="faSenal" [ngStyle]="{ color: Connection }"></fa-icon>
                <fa-icon [icon]="faSenalAsterisk" (click)="verificar()" [ngStyle]="{ color: connectionAsterisk }"> </fa-icon>
            </div>
        </div>
        <div class="CenterContent" *ngIf="panel == false; else elseBlockPanel">
            <div class="CenterContent_Sup">
                <header>Escritorio</header>
                <section class="e-responsive">
                    <div *ngFor="let n of Llamada; let i = index" class="SalaLlamadaRadio">
                        <llamada
                            (llamadaClose)="CerrarLlamada($event)"
                            (Participantes)="VerParticipantes($event)"
                            Nombre="{{ Llamada[i]['nombre'] }}"
                            Descripcion="{{ Llamada[i]['descripcion'] }}"
                            Numero="{{ Llamada[i]['numero'] }}"
                            Tipo="{{ Llamada[i]['Tipo'] }}"
                            Id="{{ Llamada[i]['id'] }}"
                            Estado="{{ Llamada[i]['Estado'] }}"
                            Src="{{ NumeroActual }}"
                            Dts="{{ n.numero }}"
                        ></llamada>
                    </div>

                    <intervencion show="{{ swInter }}" numDts="{{ numDts }}" numSrc="{{ numSrc }}" nomDts="{{ nomDts }}" nomSrc="{{ nomSrc }}"> </intervencion>
                </section>
            </div>
            <div class="CenterContent_Inf">
                <div class="CenterContent_InfPanel">
                    <header (click)="LoaderPanel()" style="cursor: pointer">Panel de Estados</header>
                    <div *ngIf="panelEstado == true; else PanelBlock"></div>
                    <!--- <panel (IntervencionLlamada)="mostrarData($event)"></panel>-->
                </div>
                <div class="CenterContent_InfInfo">
                    <header *ngIf="!mostrarParticipantes">Info</header>
                    <app-info *ngIf="!mostrarParticipantes"></app-info>
                    <header *ngIf="mostrarParticipantes">Participantes</header>
                    <app-participantes [Participantes]="ParticipantesSala2" *ngIf="mostrarParticipantes"></app-participantes>
                </div>
            </div>
        </div>
        <ng-template #elseBlockPanel>
            <div class="CenterPanel" [@FadeIn]>
                <header (click)="LoaderPanel()" style="cursor: pointer">Panel en tiempo real</header>
                <div *ngIf="panelEstado == true; else PanelBlock"></div>
                <!--<div *ngFor="let n of object; let i = index">
                    ABCDFE
                    <br />
                </div>-->
                <!--- <panel></panel>-->
            </div>
        </ng-template>
        <div class="LateralDer">
            <div class="LateralDer_Sup">
                <div class="LDSup-header">
                    <header class="animated fadeIn">
                        <button [ngStyle]="Sala && { 'font-weight': 'bold', color: 'rgb(177, 220, 241)' }" (click)="salaActive()">Salas</button>
                    </header>

                    <header class="animated fadeIn">
                        <button [ngStyle]="Agenda && { 'font-weight': 'bold', color: 'rgb(177, 220, 241)' }" (click)="agendaActive()">Agenda</button>
                    </header>
                    <header class="animated fadeIn">
                        <button [ngStyle]="AddFriend && { 'font-weight': 'bold', color: 'rgb(177, 220, 241)' }" (click)="addFriendActive()">
                            <i-feather name="plus-square"></i-feather>
                        </button>
                    </header>

                    <header class="animated fadeIn">
                        <button [ngStyle]="Dialpad && { 'font-weight': 'bold', color: 'rgb(177, 220, 241)' }" (click)="dialpadActive()">Dialpad</button>
                    </header>
                </div>
                <section *ngIf="Sala">
                    <div class="SalaEffect" *ngFor="let n of Salas; let i = index" [@flyIn]>
                        <Sala
                            (DatoSala)="RegistraSala($event)"
                            Nombre="{{ Salas[i]['nombreSala'] }}"
                            Descripcion="{{ Salas[i]['descripcion'] }}"
                            Id="{{ Salas[i]['id'] }}"
                        >
                        </Sala>
                    </div>
                    <div class="empty" *ngIf="Salas.length == 0">
                        <p>No hay Salas</p>
                    </div>
                </section>
                <Agenda socketUserEstado="{{ socketAgendaEstado }}" socketUserNumero="{{ socketAgendaNumero }}" *ngIf="Agenda"></Agenda>
                <dialpad *ngIf="Dialpad" (llamadaDialpad)="DialpadCall($event)"> </dialpad>
                <Addfriend *ngIf="AddFriend"></Addfriend>
            </div>
            <div class="LateralDer_Inf">
                <app-registro-llamadas></app-registro-llamadas>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="pages" [@SladeIn]>
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</section>

<ng-template #PanelBlock>
    <table class="table table-hover table-mc-light-blue">
        <!-- <button class="btn btn-success" (click)="enviarIntervencion(n)">Enviar</button> -->
        <thead>
            <tr>
                <th *ngIf="hide == 'true'">Extension</th>
                <th>Numero</th>
                <th>Icon</th>
                <th>Duracion</th>
                <th>Evento</th>
                <th *ngIf="hide == 'true'">Contexto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of VectorPaneles; let i = index" (click)="enviarIntervencion(n)" style="cursor: pointer">
                <td data-title="Link" *ngIf="hide == 'true'">
                    {{ VectorPaneles[i]['extension'] }}
                </td>
                <td data-title="Link">
                    {{ VectorPaneles[i]['numero'] }}
                </td>
                <td data-title="Link">
                    <i class="v-icon-incoming-call" tooltip="Entrante" style="color: green"></i>
                </td>
                <td data-title="Link">-- : -- : --</td>
                <td data-title="Link">
                    <span style="color: aqua" *ngIf="VectorPaneles[i]['evento'] == 'Newchannel'">Conectando</span>
                    <span style="color: blue" *ngIf="VectorPaneles[i]['evento'] == 'Newexten'">Llamando</span>
                    <span style="color: blue" *ngIf="VectorPaneles[i]['evento'] == 'NewConnectedLine'">Llamando</span>
                    <span style="color: chartreuse" *ngIf="VectorPaneles[i]['evento'] == 'BridgeEnter'">En curso</span>
                    <span style="color: chartreuse" *ngIf="VectorPaneles[i]['evento'] == 'Bridge'">En curso</span>
                    <span style="color: red" *ngIf="VectorPaneles[i]['evento'] == 'Hangup'">Finalizado</span>
                </td>
                <td data-title="Link" *ngIf="hide == 'true'">
                    {{ VectorPaneles[i]['contexto'] }}
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #modalintervencion>
        <div class="modal-body text-center">
            <h3>Modo de intervención</h3>
            <tabset [justified]="true">
                <tab heading="Silenciosa">
                    <div class="row">
                        <ul class="listaAcce">
                            <li>Solo podras escuchar la llamada</li>
                            <li>Ellos no sabran que los estas escuchando</li>
                            <li>No podras conversar con ningun participante</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="origen">
                                <h4>Origen</h4>
                                <i-feather name="phone-outgoing"></i-feather>
                            </div>
                            <div class="card" style="width: 100%">
                                <div class="card-body">
                                    <h5 class="card-title">{{ opeSrc.nombre }} {{ opeSrc.apPaterno }}</h5>
                                    <p class="card-text">
                                        {{ numSrc }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 100%">
                                <div class="card-body">
                                    <h5 class="card-title">{{ opeDts.nombre }} {{ opeDts.apPaterno }}</h5>
                                    <p class="card-text">
                                        {{ numDts }}
                                    </p>
                                </div>
                            </div>
                            <div class="destino">
                                <i-feather name="phone-incoming"></i-feather>
                                <h4>Destino</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="intervencion('silen')" class="btn btn-success btn-block">INTERVENIR</button>
                    </div>
                </tab>
                <tab heading="O/D">
                    <div class="row">
                        <ul class="listaAcce">
                            <li>Podras intervenir a uno de los participantes</li>
                            <li>Solo el participante que intervengas podrá conversar contigo</li>
                        </ul>
                    </div>
                    <hr />
                    <p>
                        <strong> Seleccione alguno para intervenir </strong>
                    </p>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <div class="origen">
                                <h4>Origen</h4>
                                <i-feather name="phone-outgoing"></i-feather>
                            </div>
                            <div class="card" style="width: auto" (click)="cambioIntervencion('Src', numSrc)">
                                <div
                                    class="card-body"
                                    [ngStyle]="{ 'background-color': over === 'src' ? 'rgb(3, 187, 27)' : 'white', color: over === 'src' ? 'white' : 'black' }"
                                >
                                    <h5 class="card-title">{{ opeSrc.nombre }} {{ opeSrc.apPaterno }}</h5>
                                    <p class="card-text">
                                        {{ numSrc }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: auto" (click)="cambioIntervencion('Dts', numDts)">
                                <div
                                    class="card-body"
                                    [ngStyle]="{
                                        'background-color': over === 'dts' ? ' rgb(255, 85, 73)' : 'white',
                                        color: over === 'dts' ? 'white' : 'black'
                                    }"
                                >
                                    <h5 class="card-title">{{ opeDts.nombre }} {{ opeDts.apPaterno }}</h5>
                                    <p class="card-text">
                                        {{ numDts }}
                                    </p>
                                </div>
                            </div>
                            <div class="destino">
                                <i-feather name="phone-incoming"></i-feather>
                                <h4>Destino</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="intervencion('od')" class="btn btn-success btn-block" [disabled]="over == ''">INTERVENIR</button>
                    </div>
                </tab>
                <tab heading="Ambos">
                    <div class="row">
                        <ul class="listaAcce">
                            <li>Ambos participantes podran oirte</li>
                            <li>Podras conversar con ambos participantes</li>
                            <li>Ellos no sabran que los estas escuchando</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="origen">
                                <h4>Origen</h4>
                                <i-feather name="phone-outgoing"></i-feather>
                            </div>
                            <div class="card" style="width: auto">
                                <div class="card-body">
                                    <h5 class="card-title">{{ opeSrc.nombre }} {{ opeSrc.apPaterno }}</h5>
                                    <p class="card-text">
                                        {{ numSrc }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: auto">
                                <div class="card-body">
                                    <h5 class="card-title">{{ opeDts.nombre }} {{ opeDts.apPaterno }}</h5>
                                    <p class="card-text">
                                        {{ numDts }}
                                    </p>
                                </div>
                            </div>
                            <div class="destino">
                                <i-feather name="phone-incoming"></i-feather>
                                <h4>Destino</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="intervencion('ambos')" class="btn btn-success btn-block">INTERVENIR</button>
                    </div>
                </tab>
            </tabset>
        </div>
    </ng-template>
</ng-template>
