<section class="dashboard">
	<!-- *******primera columna******* -->
	<div class="col1">
		<div class="c1-logo">
			<button type="button" [routerLink]="['/Operador/Contactos']">D</button>
		</div>

		<div class="c1-sala">
			<div *ngFor="let n of sala; let i = index">
				<button
					type="button"
					(click)="datosSala(sala[i]['usuarioId'], sala[i]['nombreSala'], sala[i]['descripcion'])"
					tooltip="{{ sala[i]['nombreSala'] }}"
					placement="right"
				>
					S{{ sala[i]['usuarioId'] }}
				</button>
			</div>
			<button type="button" (click)="addSala()">+</button>
		</div>

		<div class="c1-options">
			<button [routerLink]="['/Operador/Tracking']">
				<i class="v-icon-pin" tooltip="Tracking" placement="right"></i>
			</button>
			<button (click)="DialPadComponent()">
				<i class="v-icon-phone" tooltip="DialPad" placement="right"></i>
			</button>
			<button (click)="settings()">
				<i class="v-icon-settings1" tooltip="Opciones" placement="right"></i>
			</button>
		</div>
	</div>

	<!-- *******segunda columna******* -->
	<div class="col2">
		<!-- ********menu desplegable******** -->
		<div class="btn-group c2-header">
			<button type="button" class="btn" (click)="OpenMenu()">
				{{ user['correo'] }}
				<span *ngIf="menu == 0"><i class="large material-icons md-24">keyboard_arrow_down</i></span>
				<span *ngIf="menu == 1"
					><i class="large material-icons md-24" style="color:red;">close</i></span
				>
			</button>
		</div>
		<!-- ********contenido******** -->
		<div class="c2-body">
			<div class="left-container container" *ngIf="menu == 1">
				<div class="menu-box block">
					<!-- MENU BOX (LEFT-CONTAINER) -->

					<ul class="menu-box-menu">
						<li>
							<a class="menu-box-tab" [routerLink]="['/Operador/Historial']"
								>Historial de Llamada
								<div class="menu-box-number">
									<i class="fa fa-book-open" aria-hidden="true"></i>
								</div>
							</a>
						</li>
						<li>
							<a class="menu-box-tab" [routerLink]="['/Operador/Grabaciones']"
								>Grabaciones
								<div class="menu-box-number">
									<i class="fa fa-microphone" aria-hidden="true"></i>
								</div></a
							>
						</li>
						<li>
							<a class="menu-box-tab" [routerLink]="['/Operador/Tracking']"
								>Tracking
								<div class="menu-box-number">
									<i class="fa fa-map" aria-hidden="true"></i>
								</div></a
							>
						</li>
						<li>
							<a class="menu-box-tab" [routerLink]="['/Operador/Cuentas']"
								>Cuentas
								<div class="menu-box-number">
									<i class="fa fa-account" aria-hidden="true"></i>
								</div></a
							>
						</li>
						<li>
							<a class="menu-box-lasttab" [routerLink]="['/Operador/Roles']"
								>Roles
								<div class="menu-box-number">
									<i class="fa fa-people" aria-hidden="true"></i>
								</div></a
							>
						</li>
					</ul>
				</div>
			</div>
			<div class="SalaForm" *ngIf="formSala == 1">
				<div class="SalaForm-header">
					<h4>Crear Sala</h4>
				</div>
				<div class="SalaForm-content">
					<form [formGroup]="addForm" (ngSubmit)="addContact()">
						<div class="row form-group">
							<label for="descripcion">Nombre :</label>
							<input type="text" formControlName="nombre" class="form-control" />
						</div>

						<div class="row form-group">
							<label for="descripcion">Descripcion :</label>
							<input type="text" formControlName="descripcion" class="form-control" />
						</div>
					</form>
				</div>
				<div class="SalaForm-footer">
					<div class="row">
						<button type="button" class="Cancel">Cancelar</button>
						<button type="button" class="CrearSala">Crear Sala</button>
					</div>
				</div>
			</div>
		</div>
		<!-- *********footer********   -->
		<div class="c2-footer">
			<div class="c2-logo"></div>
			<div class="c2-nombre">
				User
				<br />
				<div class="c2-nombre__sip">
					SIP 3000
				</div>
			</div>
			<div class="c2-microfono">
				<button>
					<i class="fa fa-microphone" aria-hidden="true"></i>
				</button>
			</div>
			<div class="c2-audio">
				<button>
					<i class="fa fa-headphones" aria-hidden="true"></i>
				</button>
			</div>
			<div class="c2-señal">
				<button>
					<i class="fa fa-wifi" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>

	<!-- tercera columna -->
	<div class="dashboard__3col col3">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" [routerLink]="['/Operador/Contactos']"
							>Agenda <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link">Todos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Conectado</a>
					</li>
					<li class="nav-item" (click)="AgregarContactosComponent()">
						<a class="nav-link" style="background-color: #96F047;cursor: pointer;"
							>Añadir Contacto</a
						>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" [routerLink]="['/Login']" style="cursor: pointer">
					<i class="large material-icons md-24">input</i>
					<a class="nav-link">Salir</a>
				</form>
			</div>
		</nav>
		<router-outlet></router-outlet>
	</div>
</section>
