<section class="dialpad">
  <div class="d-titulo modal-title">
    <h1>DIALPAD</h1>
  </div>
  <div class="d-logo">
    <i class="fa fa-tty" aria-hidden="true"></i>
  </div>
  <div class="d-vista">{{dialNumber}}</div>
  <div class="d-borrar" (click)="Limpiar()">
   <button >
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="d-uno">
    <button (click)="DialNum('1')">
      1
    </button>
  </div>
  <div class="d-dos">
    <button  (click)="DialNum('2')">
      2
    </button>
  </div>
  <div class="d-tres">
    <button  (click)="DialNum('3')">
      3
    </button>
  </div>
  <div class="d-cuatro">
    <button  (click)="DialNum('4')">
      4
    </button>
  </div>
  <div class="d-cinco">
    <button  (click)="DialNum('5')">
      5
    </button>
  </div>
  <div class="d-seis">
    <button  (click)="DialNum('6')">
      6
    </button>
  </div>
  <div class="d-siete">
    <button  (click)="DialNum('7')">
      7
    </button>
  </div>
  <div class="d-ocho">
    <button  (click)="DialNum('8')">
      8
    </button>
  </div>
  <div class="d-nueve">
    <button (click)="DialNum('9')">
      9
    </button >
  </div>
  <div class="d-mas">
    <button (click)="DialNum('+')">
      +
    </button>
  </div>
  <div class="d-cero">
    <button (click)="DialNum('0')">
      0
    </button>
  </div>
  <div class="d-numeral">
    <button (click)="DialNum('#')">
      #
    </button>
  </div>
  <div class="d-cancelar">
    <button>
      CANCELAR
    </button>
  </div>
  <div class="d-llamar">
    <button (click)="Llamada()" >
      LLAMAR
    </button>
  </div>
</section>
