<div class="modal-header">
		<h4 class="modal-title pull-left">DIALPAD</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Se ve feo pero funciona xD</p>
		<div class="phone-demo">
	<div class="dial-pad">
		<a  class="one">1</a>
		<a class="two">2</a>
		<a class="three">3</a>
		<br/>
		<a class="four">4</a>
		<a class="five">5</a>
		<a class="six">6</a>
		<br/>
		<a  class="seven">7</a>
		<a class="eight">8</a>
		<a class="nine">9</a>
		<br/>
		<a >*</a>
		<a  class="zero">0</a>
		<a >#</a>
	
	</div>
</div>
	</div>