<section class="dialpad">
  <div class="d-titulo modal-title">
    <h1>DIALPAD</h1>
  </div>
  <div class="d-logo">
    <i class="fa fa-tty" aria-hidden="true"></i>
  </div>
  <div class="d-vista">AAAAAAAAA</div>
  <div class="d-uno">
    <button>
      1
    </button>
  </div>
  <div class="d-dos">
    <button>
      2
    </button>
  </div>
  <div class="d-tres">
    <button>
      3
    </button>
  </div>
  <div class="d-cuatro">
    <button>
      4
    </button>
  </div>
  <div class="d-cinco">
    <button>
      5
    </button>
  </div>
  <div class="d-seis">
    <button>
      6
    </button>
  </div>
  <div class="d-siete">
    <button>
      7
    </button>
  </div>
  <div class="d-ocho">
    <button>
      8
    </button>
  </div>
  <div class="d-nueve">
    <button>
      9
    </button>
  </div>
  <div class="d-mas">
    <button>
      +
    </button>
  </div>
  <div class="d-cero">
    <button>
      0
    </button>
  </div>
  <div class="d-numeral">
    <button>
      #
    </button>
  </div>
  <div class="d-cancelar">
    <button>
      CANCELAR
    </button>
  </div>
  <div class="d-llamar">
    <button>
      LLAMAR
    </button>
  </div>
</section>
