.admin-dashboard {
	text-align: center;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas: 'sidebar contenido';
	height: 100vh;
	overflow: hidden;
}
.sidebar {
	background: var(--color-seis);
	grid-area: sidebar;
	display: grid;
	grid-template-rows: 10% 60% 30%;
	grid-template-areas:
		'sidebar-logo'
		'sidebar-options-top'
		'sidebar-options-bottom';
}
.sidebar-logo {
	button {
		margin: 10px;
		border: none;
		width: 95%;
		height: 95%;
		font-size: 25px;
		background: var(--color-cinco);
	}
	grid-area: sidebar-logo;

}
.sidebar-options-top {
	li{
		display: grid;
		align-content: center;
		list-style: none;
		//border: solid 2px red;
		margin: 6px;
		height: 50px;
		background: var(--color-cuatro);
		span{
			color: var(--color-dos);
		}
	}
	grid-area: sidebar-options-top;
	padding-top: 20px;
	button {
		font-size: 40px;
		background: var(--color-cuatro);
		color: var(--color-dos);
		margin-bottom: 10px;
	}
}
.contenido {
	grid-area: contenido;

}



