.admin-dashboard {
	text-align: center;
	display: grid;
	 grid-template-columns: minmax(80px, 20%) minmax(780px, 80%) ;
	grid-template-areas: 'column1 column2 ';
	height: 100vh;
	overflow: hidden;
	button {
		border: none;
		width: 80%;
		height: 60px;
		font-size: 25px;
	}

}
//-----------------------------------------------
//primera columna
.columna1 {
	grid-area: column1;
	display: grid;
	//grid-template-rows: 80px 635px 250px;
	grid-template-rows: 10% 60% 30%;
	//grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		'c1-logo'
		'c1-options-top'
		'c1-options-bottom';
	background: #e3e5e8;
	button {
		border-radius: 10%;
	}
	button:hover {
		transform: translateY(-3px);
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	}

	button:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}
}
.c1-logo {
	grid-area: c1-logo;
	padding-top: 10px;
	button {
		background: #1f253d;
		color: white;
	}
}
.c1-options-top {
	grid-area: c1-options-top;
	padding-top: 20px;
	button {
		font-size: 40px;
		background: #e3e5e8;
		color: #223a59;
		margin-bottom: 10px;
	}
}
.c1-options-bottom {
	grid-area: c1-options-bottom;
	display: grid;
	padding-left: 6px;
	button {
		background: #e3e5e8;
		color: #223a59;
		margin-left: 5px;
	}
}
//segunda columna

//fin columna 2 footer__________________________________

//tercera columna
.columna2 {
	grid-area: column2;
	overflow-y: scroll;
	.search {
		padding-left:10px;
	  width: 100%;
	  position: relative;
	  margin: auto;
	  display: flex;
	}
	
	.searchTerm:focus{
	  color: #223a59;
	}
	.searchButton {
	  width: 40px;
	  height: auto;
	  border: 1px solid #223a59;
	  background: #223a59;
	  text-align: center;
	  color: #fff;
	  border-radius: 0 5px 5px 0;
	  cursor: pointer;
	  font-size: 20px;
	}
}
//--------------------------------------------------
.material-icons.md-48 {
	font-size: 48px;
}

.material-icons.md-32 {
	font-size: 33px;
}
// dial pad (copy & paste de alguna pagina xD)
.phone-demo {
	position: relative;
	margin: 20px auto;
}
.Contactos {
	margin: 20px auto;
	max-width: 960px;
	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 2rem;

		thead,
		tbody,
		tfoot {
			tr {
				th,
				td {
					text-align: left;
					padding: 0.8rem;
					vertical-align: top;
					border-top: 0;
				}
			}
		}
	}
}
.Historial {
	margin: 20px auto;
	max-width: 100%;
	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 2rem;
		thead,
		tbody,
		tfoot {
			tr {
				th,
				td {
					text-align: left;
					padding: 0.8rem;
					vertical-align: top;
					border-top: 0;
				}
			}
		}
	}
}

