//#e8e3de, #E8DDCB, #CDB380, #036564, #033649, #031634

.Agenda {

	margin: 10px;
	background: #E8DDCB;
	.table {
		color: #031634;
		width: 100%;
		max-width: 100%;
		margin-bottom: 2rem;

		thead,
		tbody,
		tfoot {
			tr {
				th,
				td {
					margin: 0px;
					text-align: left;
					padding: 0.8rem;
					vertical-align: top;
				}
			}
		}

		tr:hover td{
			background: #CDB380;
			color: white;
		}
	}
}

