//var(--color-uno), var(--color-dos), var(--color-tres), var(--color-cuatro), var(--color-cinco), var(--color-seis)
.modal-content{
  border-radius: 2%;
  width: 400px;
  border: none;
  background: var(--color-uno);
  height: 610px;
}
.dialpad {
	font-size: 15px;
	font-weight: bold;
  padding: 3%;
  color: var(--color-seis);
  border-radius: 2%;
  display: grid;
  justify-content: center;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(6 1fr);
	grid-template-areas:
		'titulo titulo titulo titulo logo logo'
		'vista vista vista vista borrar borrar'
		'uno uno dos dos tres tres'
		'cuatro cuatro cinco cinco seis seis'
		'siete siete ocho ocho nueve nueve'
		'mas mas cero cero num num'
		'llamar llamar llamar llamar llamar llamar';
	button {
		font-weight: bold;
		border-radius: 50%;
		background: #f3f3f3;
		color: var(--color-seis);
		width: 80px;
		height: 80px;
		border: none;
	}
  row-gap: 5px;
  column-gap: 15px;
}
.d-titulo {
  grid-area: titulo;
}

.d-logo {
	grid-area: logo;
  font-size: 30px;
  text-align: center;
}

.d-vista {
  display: flex;
  align-items: center;
	grid-area: vista;
	border-radius: 5%;
	padding-left: 20px;
	background: #F3F3F3;
	font-size: 20px;
  height: 70px;
  width: 240px;

}
.d-borrar {
	grid-area: borrar;
	font-size: 20px;
	button {
		font-weight: bold;
		border-radius: 10px;
		background: var(--color-tres);
		color: 031634;
		width: 90px;
		height: 70px;
	}
}

.d-uno {
	font-size: 20px;
	grid-area: uno;
}
.d-dos {
	font-size: 20px;
	grid-area: dos;
}
.d-tres {
	font-size: 20px;
	grid-area: tres;
}
.d-cuatro {
	font-size: 20px;
	grid-area: cuatro;
}
.d-cinco {
	grid-area: cinco;
	font-size: 20px;
}
.d-seis {
	font-size: 20px;
	grid-area: seis;
}
.d-siete {
	font-size: 20px;
	grid-area: siete;
}
.d-ocho {
	font-size: 20px;
	grid-area: ocho;
}
.d-nueve {
	font-size: 20px;
	grid-area: nueve;
}
.d-mas {
	font-size: 20px;
	grid-area: mas;

}
.d-cero {
	font-size: 20px;
	grid-area: cero;
}
.d-numeral {
	font-size: 20px;
	grid-area: num;
}

.d-llamar {
	grid-area: llamar;
  text-align: center;
  padding-right: 6px;
  i{
    font-size: 30px;
  }
	button {
		font-weight: bold;
		background: #a1c65a;
		color: var(--color-seis);
    width: 80px;
    height: 80px;
	}
}
