.dialpad {
  font-size: 20px;
  font-weight: bold;
  padding: 5%;
 // border: 2px solid red;
  border-radius: 5%;
  color: #7298cb;

  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(6 1fr);
  grid-template-areas:
    'titulo titulo titulo titulo titulo logo'
    'vista vista vista vista vista borrar'
    'uno uno dos dos tres tres'
    'cuatro cuatro cinco cinco seis seis'
    'siete siete ocho ocho nueve nueve'
    'mas mas cero cero num num'
    'cancelar cancelar cancelar llamar llamar llamar';
  height: 620px;
  button {
    font-weight: bold;
    border-radius: 10px;
    background: #f3f3f3;
    color: #5075bf;
    width: 133px;
    height: 70px;
    border: 2px solid #e2e6ea;
  }
  grid-gap: 12px;
}
.d-titulo {
  grid-area: titulo;
}

.d-logo {
  grid-area: logo;
  font-size: 30px;
}

.d-vista {
  grid-area: vista;
  border: 2px solid #a8baca;
  border-radius: 5%;
  padding-left:20px;
  padding-top:10px;
  background: #f2f3f5;
   font-size: 30px;
  height: 70px;
}
.d-borrar {
  grid-area: borrar;
  font-size: 30px;
    button {
    font-weight: bold;
    border-radius: 10px;
    background: #f04747;
    color: white;
    width: 50px;
    height: 70px;
    border: 2px solid #e2e6ea;
  }
}

.d-uno {
  font-size: 28px;
  grid-area: uno;
}
.d-dos {
  font-size: 28px;
  grid-area: dos;
}
.d-tres {
  font-size: 28px;
  grid-area: tres;
}
.d-cuatro {
  font-size: 28px;
  grid-area: cuatro;
}
.d-cinco {
  grid-area: cinco;
  font-size: 28px;
}
.d-seis {
  font-size: 28px;
  grid-area: seis;
}
.d-siete {
  font-size: 28px;
  grid-area: siete;
}
.d-ocho {
  font-size: 28px;
  grid-area: ocho;
}
.d-nueve {
  font-size: 28px;
  grid-area: nueve;
}
.d-mas {
  font-size: 28px;
  grid-area: mas;
  button {
    background: #5075bf;
    color: white;
  }
}
.d-cero {
  font-size: 28px;
  grid-area: cero;
}
.d-numeral {
  font-size: 28px;
  grid-area: num;
  button {
    background: #5075bf;
    color: white;
  }
}
.d-cancelar {
  grid-area: cancelar;
  text-align: center;
  button {
    font-weight: bold;
    background: #f04747;
    color: white;
    width: 200px;
  }
}
.d-llamar {
  grid-area: llamar;
  text-align: center;
  button {
    font-weight: bold;
    background: #a1c65a;
    color: white;
    width: 200px;
  }
}
