.login {
	height: 100vh;
	font-family: $fontPrimary;
	display: grid;
	width: 100%;
	grid-template-rows: 50px auto 50px;
	grid-template-areas:
		'head'
		'body'
		'footr';
}

.login__header {
	min-height: 5vh;
	grid-area: head;
	padding-top: 12px;
	color: #E8DDCB;
	background: #031634;
}

//BODY LOGIN
.login__body {
	display: flex;
	align-items: center;
	justify-content: center;

	grid-area: body;
	width: 100%;
	background: url(assets/bg.png);
	background-size: cover;
	
}
.login__login {
	width: 500px;
	border-radius: 5px;
	background: #e8e3de;
	text-align: left;
	opacity: 0.97;
	&--titulo {
		color: #036564;
		padding-top: 50px;
		text-align: center;
	}
	&--form {
		color: #036564;
		width: 100%;
		padding: 20px 30px 20px 30px;
	}
	&--label {
		width: 100%;
		padding-top: 10px;
	}
	&--input {
		width: 100%;
		padding-left: 5px;
	}
	button {
		border-radius: 2%;
		border: none;
	}
	button:hover {
		transform: translateY(-3px);
		box-shadow: 0 5px 20px #036564;
		background: #036564;
	}
	&--btn {
		height: 50px;
		width: 100%;
		background: #CDB380;
	}
}
.label-left {
	text-align: right;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	&--right {
		text-align: left;
		padding-top: 15px;
	}
}
//FIN BODY LOGIN
.login__footer {
	grid-area: footr;
	padding-top: 12px;
	text-align: center;
	background: #031634;
	font-size: 18px;
	font-weight: bold;
	color: #E8DDCB;
}
