//#E8DDCB, #CDB380, #036564, #033649, #031634

.notificaciones {
	margin: 8px;
	background: #E8DDCB;
	display: grid;
	grid-template-columns: 27% 40% 33%;
	grid-template-areas: 'nombre tipo accion';
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.n-nombre {
    display: grid;
    grid-area: nombre;
    color: #E8DDCB;
    background: #033649;
    align-items: center;
}
.n-tipo {
	grid-area: tipo;
	&--entrante {
		padding-top: 15%;
		background: #CDB380;
	}
	&--espera {
		padding-top: 15%;
		background: #efffc0;
	}
}
.n-accion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    i{
        color: black;
        font-size: 30px;
    }
	button {
		width: 100%;
        height: 100%;
        font-size: 13px;
        color: #031634;
        text-transform: uppercase;
    }
    button:hover{
        transition: all 0.4s ease 0s;
        letter-spacing: 1px;
    }
    grid-area: accion;
    &--contestar{
        background: #f6da63;
    }
    &--colgar{
        background: #da2d2d;
    }
}
