//#E8DDCB, #CDB380, #036564, #033649, #031634
.panel{
    &__header{
        background: #031634;
        color: #E8DDCB;
    }
    
    table{
        background: #E8DDCB;
        text-align: left;
    }
    th,td{
        border: none;
        padding: 10px;
    }
    thead{
        background: #033649;
        color: #E8DDCB;
        border-bottom:solid 5px #223A59;
    }
    tr:hover td{
        background: #CDB380;
        color: white;
    }
}