//#e8e3de, #E8DDCB, #CDB380, #036564, #033649, #031634

.sala {
	display: grid;
	grid-template-columns: 15% 55% 30%;
	grid-template-areas: 'flecha sala detalle';
	height: 80px;
	margin: 10px;
	color: #e8e3de;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.s-flecha {
	grid-area: flecha;
	button {
		background: #cdb380;
		height: 100%;
		width: 100%;
	}
	button:hover {
		background: #031634;
		color: #e8e3de;
		animation-name: initial;
	}
}

.s-sala {
	display: grid;
	align-content: center;
	grid-area: sala;
	background: #e8ddcb;
	color: #012036;
}

.s-detalle {
	display: grid;
	align-content: center;
	grid-area: detalle;
	background: #033649;
}
