<div class="app">
  <audio src="" id="audio-local"></audio>
  <audio src="" id="audio-remote"></audio>
  <h1>DEMO LLAMADAS</h1>
  <div class="btns">
    <h1>WS EVENTS</h1>
    <h2>{{ msg }}</h2>
    <button (click)="conectar()">Conectar</button>
    <button (click)="desconectar()">Desconectar</button>
  </div>
  <br />
  <input type="text" [(ngModel)]="sip" />
  <button (click)="sipCall(sip)">Llamar</button>
  <button (click)="endCall()">Terminar</button>
  <br />
  <p>Llamada entrante</p>
  <button (click)="responder()">Contestar</button>
  <button (click)="mute()">Mute</button>
  <button (click)="unmute()">unmute</button>
  <h3>{{ alert }}</h3>
  <h1>Events SIP Call</h1>
  <p>{{ call }}</p>
</div>
<router-outlet></router-outlet>
