<div class="notificaciones">
	<div class="Image"></div>
	<div class="Info_Notif">
		<div class="titulo">{{Nombre}}</div>
		<div class="detalle">{{Numero}}</div>
	</div>
	<div class="Botones">
		<div class="Boton_Sup">
			<button
			(click)="ContestarLlamada(Nombre, Numero, Id)"
			tooltip="Contestar"
			placement="left">
			<i class="v-icon-phone2" aria-hidden="true"></i>
			</button>
		</div>
		<div class="Boton_Inf">
			<button  (click)="ColgarLlamada(Nombre, Numero, Id)"
			tooltip="Colgar"
			placement="left">
			<i class="v-icon-phone-hang-up" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>
