<h1></h1>
<!--<input type="button" value="Volver" [routerLink]="['/Administrador/DetalleContacto']">-->

<div class="modal-header">
	<h6 class="modal-title">Editar Contacto</h6>
</div>

<div class="modal-body">
	<div class="container ">
		<form class="añadir_contact">

			<div class="row">
				<div class="col-md-6 ">
					<label for="nombre">Nombre :</label>
					<input type="text"  class="form-control" value="Nelson Richard" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 ">
					<label for="apPaterno">Apellido Paterno</label>
					<input type="text"  class="form-control" value="Cori" />
				</div>
				<div class="col-md-6 ">
					<label for="apMaterno">Apellido Materno</label>
					<input type="text"  class="form-control" value="Sirpa" />
				</div>
			</div>	
				<div class="row">
				<div class="col-md-6 ">
					<label for="apPaterno">Direccion</label>
					<input type="text"  class="form-control" value="Calle X, Zona Y #9999" />
				</div>
				<div class="col-md-6 ">
					<label for="apMaterno">Nro. telefono</label>
					<input type="text"  class="form-control" value="78839131" />
				</div>
			</div>
			<div class="row">	
				<label for="callerId">Correo Electronico</label>
				<input type="text" class="form-control" value="richard@usuario.com" />
		</div>	
		<div class="row">	
				<label for="callerId">Contraseña</label>
				<input type="text" class="form-control" value="Pru3b4c0ntr4s3ñ4" />
		</div>	
		</form>

		
	</div>
</div>
<div class="modal-footer ">
	<button type="button" class="btn btn-danger btn-block" [routerLink]="['/Administrador/DetalleContacto']">Volver</button>
	<button type="button" class="btn btn-primary btn-block" >
		Editar
	</button>
</div>
