<header class="navbar-horiz">
	<div class="nav-ini">
		<i class="v-icon-phone-call" placement="right"></i>
		Historial de Llamadas
	</div>
	<nav>
		<ul class="nav-mid">
			<li id="nav" class="li-active">
				<a (click)="cssch(); todos()">Todos</a>
			</li>
			<li>
				<a (click)="cambio()">Salientes</a>
			</li>
			<li>
				<a (click)="entrante()">Entrantes</a>
			</li>
			<li>
				<a (click)="perdida()">Perdidas</a>
			</li>
		</ul>
	</nav>
	<div class="nav-fin">
		<input type="text" [(ngModel)]="searchdate" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }" />
		<input type="text" [(ngModel)]="searchcontact" class="form-control" placeholder="Contacto" />
		<button type="submit">
			<i class="v-icon-magnifying-glass" (click)="buscar()"></i>
		</button>
	</div>
</header>


<div class="Historial" *ngIf="!swH">
	<div class="table-responsive-vertical shadow-z-1">
		<!-- Table starts here -->
		<table id="table" class="table table-hover table-mc-light-blue">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre de Usuario</th>
					<th>Tipo</th>
					<th>Origen</th>
					<th>Destino</th>
					<th>Duracion</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let n of History; let i = index">
					<td data-title="ID">{{ i + 1 }}</td>
					<td data-title="Name">{{ History[i]['clid'] }} </td>
					<td data-title="Status">
						<span *ngIf="History[i]['disposition'] == 'ANSWERED'" style="color: green"><i
								class="v-icon-phone_missed"></i> ENTRANTE </span>
						<span *ngIf="History[i]['disposition'] == 'NO ANSWERED'" style="color: red"><i
								class="v-icon-incoming-call"></i> PERDIDA</span>
						<span *ngIf="History[i]['disposition'] == 'BUSY'" style="color: blue"><i
								class="v-icon-telephone-receiver-with-up-arrow"></i>
							OCUPADO</span>
					</td>
					<td data-title="Link">
						<i class="v-icon-walkie-talkie"></i><br>
						<{{ History[i]['src'] }}>
					</td>
					<td data-title="Link">
						<i class="v-icon-ambulance-side-view"></i><br>
						<{{ History[i]['dst'] }}>
					</td>
					<td data-title="Link">{{ History[i]['duration'] }}:{{History[i]['billsec']}} min</td>
					<td data-title="Link">{{ History[i]['calldate'] }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>