
<header>
  <h2>HISTORIAL DE LLAMADAS</h2>
</header>
<div class="Historial">
  <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de Usuario</th>
          <th>Tipo</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Duracion</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of Historial; let i = index">
          <td data-title="ID">{{ i + 1 }}</td>
          <td data-title="Name">< {{ Historial[i]['Numero'] }} > {{ Historial[i]['Nombre'] }}</td>
          <td data-title="Status">
            <span *ngIf="Historial[i]['Tipo'] == 'Perdida'" style="color: red"
              ><i class="v-icon-phone"></i> {{ Historial[i]['Tipo'] }}</span
            >
            <span *ngIf="Historial[i]['Tipo'] == 'Entrante'" style="color: blue"
              ><i class="v-icon-incoming-call"></i> {{ Historial[i]['Tipo'] }}</span
            >
            <span *ngIf="Historial[i]['Tipo'] == 'Saliente'" style="color: green"
              ><i class="v-icon-telephone-receiver-with-up-arrow"></i> {{ Historial[i]['Tipo'] }}</span
            >
          </td>
          <td data-title="Link">
            <i class="v-icon-walkie-talkie"></i>
            {{ Historial[i]['Origen'] }}
          </td>
          <td data-title="Link">
            <i class="v-icon-ambulance-side-view"></i> {{ Historial[i]['Destino'] }}
          </td>
          <td data-title="Link">{{ Historial[i]['Duracion'] }}</td>
          <td data-title="Link">{{ Historial[i]['Fecha'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
