:host {
	//position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

// button {
// 	border: none;
// 	height: 63px;
// 	background: #223a59;
// 	//border-radius: 20%;
// 	color: white;
// 	margin: 3px;
// }
