<h2>Editar la Sala</h2>
<hr>
<div class="col-md-8 offset-2">
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-block" [routerLink]="['/Administrador/DetalleSala']">Volver</button>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-success btn-block" > Editar </button>
		</div>
	</div>
</div>

<hr>
<div class="col-md-8 offset-2">
	<marquee scrollamount="15"> <p style="font-size: 32px;color:red;">*Formulario y Servicios Pendientes...</p>
	</marquee>
</div>
