<div class="modal-header">
          <h6 class="modal-title">EDITAR CONTACTO</h6>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  (click)="modalRef.hide()">&times;</button>
        </div>   
        <div class="modal-body">
            <div class="container ">
            <form class="añadir_contact" [formGroup]="editForm" (ngSubmit)="addContact()">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="nombre">NOMBRE</label>
                  <input type="text" formControlName="nombre" class="form-control" />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="apellido">APELLIDO</label>
                  <input type="text" formControlName="apellido" class="form-control" />
                </div>
              </div>
                
                <div class="row">
                <div class="col-md-4 form-group">
                  <label for="alias">ALIAS</label>
                  <input type="text" formControlName="alias" class="form-control" />  
                </div>
                <div class="col-md-4 form-group">
                    <label for="telnumero">#/TELÉFONO</label>
                    <input type="text" formControlName="telnumero" class="form-control" />  
                </div>
                <div class="col-md-4 form-group">   
                  <label for="telnumero">TIPO</label>
                  <select class="form-control" id="inputGroupSelect01" >
                      <option selected>Elegir Tipo</option>
                      <option value="1">SIP</option>
                      <option value="2">IAX</option>
                  </select>                             
                </div>
                </div>         
                <div class="row form-group">
                    <label for="descripcion">DESCRIPCIÓN</label>
                    <input type="text" formControlName="descripcion" class="form-control" />  
                </div>          
            </form>
            </div>                    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block"  (click)="modalRef.hide()">Cancelar</button>
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"  (click)="modalRef.hide()">Crear contacto</button>
        </div>
