.d-sidebar {
  text-align: center;
  display: grid;
  //grid-template-columns: repeat(8,1fr);
  grid-template: auto / minmax(80px, 4%) minmax(250px, 17%) minmax(500px,79%);
  height: 100%;
  button {
    border: none;
    width: 80%;
    height: 63px;
    font-size: 25px;
    background: #223a59;
    border-radius: 20%;
    color: white;
    margin: 3px;
  }
  &__1col {
    background: #e3e5e8;
    padding-top: 15px;
    padding-bottom: 15px;
    &--sala {
      height: 662px;

      padding-top: 20px;
      button {
        background: #5075bf;
        color: white;
        border-radius: 50%;
      }
    }
    &--options {
      height: auto;
      button {
        padding-top: 7px;
        background: #e3e5e8;
        color: #223a59;
      }
    }
  }
  &__info {
    position: relative;
	background: #f2f3f5;
	button{
		width: 100%;
		color: #223a59;
		border-radius: 0%;
		background: #F2F3F5;
		padding-left: 30px;
		margin-bottom: 3px solid red;
	}
	
  }
  &__3col{
    position: relative;
    padding-left: 21%;
    text-align: center;
    background: red;
    height: auto;
  }
}
.material-icons.md-48 {
  font-size: 48px;
}

