<section class="admin-dashboard">
	<!-- *******primera columna******* -->
	<div class="sidebar">
		<div class="sidebar-logo">
			<button type="button" >Logo</button>
		</div>
		<div class="sidebar-options-top">
					<ul>
						<li>
							<a class="Item"><i class="v-icon-group"></i>Contactos</a>
						</li>
						<li>
								<a [routerLink]="['/Administrador/Contactos']" class="subItem">Lista de Contactos</a>
						</li>
						<li>
							  <a [routerLink]="['/Administrador/AgregarContacto']" class="subItem">Agregar Contacto</a>
						</li>
						<li>
							<a class="Item"><i class="v-icon-bubbles4"></i>Salas</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Salas']" class="subItem">Lista de Salas</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/AgregarSala']" class="subItem">Agregar Sala</a>
						</li>
						<li>
							<a class="Item"><i class="v-icon-radio"></i>Radios</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Radios']" class="subItem">Listar Radios</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/AgregarRadio']" class="subItem">Crear Radio</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/AgregarNumero']">
								<i class="v-icon-phone"></i>Crear Sip Independiente</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Historial']">
								<i class="v-icon-phone1"></i>Historial de Llamadas</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Grabaciones']">
								<i class="v-icon-cassette"></i>Grabaciones</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Tracking']">
								<i class="v-icon-location"></i>Tracking</a>
						</li>
						<li>
							<a [routerLink]="['/Login']">
								<i class="v-icon-enter" ></i>Salir</a>
						</li>
					</ul>
				</div>
			

	</div>



<div class="contenido" >
	<router-outlet></router-outlet>
</div>

	
	
	
</section>
