<!-- Llamada SIP Inactiva -->
<div class="Escritorio" *ngIf="Tipo == 'Llamada'">
    <div class="EscritorioHeader HeadLlamada" [ngClass]="{ 'text-danger': Estado === 'Inactiva', 'text-success': Estado === 'Activa' }">
        <fa-icon class="text-danger" *ngIf="Estado === 'Inactiva'" [icon]="estadoIcon"> </fa-icon>
        <fa-icon class="text-success" *ngIf="Estado === 'Activa'" [icon]="estadoIcon"> </fa-icon>
        {{ Tipo }} {{ Estado }}
        <span (click)="CerrarLlamada(Nombre, Numero, Id, Descripcion, Tipo, Estado)" style="cursor: pointer">
            <fa-icon class="text-danger" [icon]="SalirIcon" tooltip="Cerrar"> </fa-icon>
        </span>
    </div>
    <div class="EscritorioContentLlamada">
        <div class="ContentIzp ContentLlamada">
            <div class="descripcion">
                <div (click)="detalleUsuario($event, Numero)" class="titulo">{{ Nombre }}</div>
                <div class="detalle">{{ Numero }}</div>
            </div>
            <div class="iconoS">
                <fa-icon [icon]="LlamadaIcon"> </fa-icon>
            </div>
        </div>
        <!-- <div class="ContentDer">
            <div class="icon">
                <i class="v-icon-telephone-receiver-with-up-arrow"></i>
            </div>
            <div class="timer">
                --:--:--
            </div>
        </div> -->
    </div>
    <div class="EscritorioOptions">
        <div class="OptionLlamada LlamadaL">
            <a *ngIf="estadoAudioLlamada" class="btn btn-llamada" tooltip="Silenciar Audio" (click)="silenciarLlamada()">
                <fa-icon [icon]="Volumen"> </fa-icon>
            </a>
            <a *ngIf="!estadoAudioLlamada" class="btn btn-info" tooltip="Activar Audio" (click)="silenciarLlamada()">
                <fa-icon [icon]="VolumenIcon"> </fa-icon>
            </a>
            <a *ngIf="estadoLlamada" class="btn btn-llamada" tooltip="Pausar Llamada" (click)="pausarLlamada()">
                <fa-icon [icon]="PausaIcon"> </fa-icon>
            </a>
            <a *ngIf="!estadoLlamada" class="btn btn-info" tooltip="Reconectar Llamada" (click)="pausarLlamada()">
                <fa-icon [icon]="PlayIcon"> </fa-icon>
            </a>
            <a class="btn btn-llamada" tooltip="Colgar" (click)="ColgarLlamada(Nombre, Numero, Id, Descripcion, Tipo, Estado)">
                <fa-icon [icon]="ColgarIcon"> </fa-icon>
            </a>
            <a class="btn btn-llamada" tooltip="Transferencia" placement="left">
                <fa-icon [icon]="IntervenirIcon"> </fa-icon>
            </a>
            <a class="btn btn-llamada" tooltip="intervencion">
                <fa-icon [icon]="InterventIcon"> </fa-icon>
            </a>
        </div>
        <!-- <div class="OptionsLlamada">
            <nav><a href="">aparcar</a></nav>
            <nav>
                <a> <i class="v-icon-volume-mute2"></i> Mute</a>
                <a href=""><i class="v-icon-pause2"></i>Pausar</a>
                <a href=""><i class="v-icon-phone-hang-up"></i>Colgar</a>
            </nav>
        </div> -->
    </div>
</div>

<!-- Sala Inactiva -->
<div class="Escritorio" *ngIf="Tipo == 'Sala'">
    <div class="EscritorioHeader HeadSala" [ngClass]="{ 'text-danger': Estado === 'Inactiva', 'text-success': Estado === 'Activa' }">
        <fa-icon class="text-danger" *ngIf="Estado === 'Inactiva'" [icon]="estadoIcon"> </fa-icon>
        <fa-icon class="text-success" *ngIf="Estado === 'Activa'" [icon]="estadoIcon"> </fa-icon>
        {{ Tipo }} {{ Estado }}
        <span (click)="CerrarLlamada(Nombre, Numero, Id, Descripcion, Tipo, Estado)" style="cursor: pointer">
            <fa-icon class="text-danger" [icon]="SalirIcon" tooltip="Cerrar"> </fa-icon>
        </span>
    </div>
    <div class="EscritorioContentSala">
        <div class="ContentIzp ContentSala">
            <div class="descripcion">
                <div class="titulo">{{ Nombre }}</div>
                <div class="detalle">{{ Descripcion }}</div>
            </div>
            <div *ngIf="esRadio" class="iconoL">
                <fa-icon [icon]="RadioIcon"> </fa-icon>
            </div>
            <div *ngIf="!esRadio" class="iconoL">
                <fa-icon [icon]="HeadsetIcon"> </fa-icon>
            </div>
        </div>
        <!-- <div class="ContentDer">
            Contenido
            <div class="icon">
                0/10
            </div>
            <div class="timer">
                --:--:--
            </div>
        </div> -->
    </div>
    <div class="EscritorioOptions">
        <div class="OptionSala SalaL">
            <a *ngIf="!estadoConferencia" class="btn btn-dark" (click)="conferencia()" tooltip="Entrar a conferencia">
                <fa-icon [icon]="SalaIcon"> </fa-icon>
            </a>
            <a *ngIf="estadoConferencia" class="btn btn-sala" (click)="conferencia()" tooltip="Salir de conferencia">
                <fa-icon class="text-light" [icon]="SalaIcon"> </fa-icon>
            </a>
            <a class="btn btn-dark" (click)="ModalAddParticipante(addParti)" tooltip="Añadir Participante">
                <fa-icon [icon]="AddUserIcon"> </fa-icon>
            </a>
            <a *ngIf="!estadoParticipantes" class="btn btn-dark" (click)="VerParticipantes(Id)" tooltip="Ver Participantes">
                <fa-icon [icon]="VerIcon"> </fa-icon>
            </a>
            <a *ngIf="estadoParticipantes" class="btn btn-sala" (click)="VerParticipantes(Id)" tooltip="Ver Participantes">
                <fa-icon class="text-light" [icon]="VerIcon"> </fa-icon>
            </a>
            <a *ngIf="estadoAgente" class="btn btn-dark" (click)="serAgente()" placement="left" tooltip="Ser Agente de Llamadas">
                <fa-icon [icon]="AgenteIcon"> </fa-icon>
            </a>
            <a *ngIf="!estadoAgente" class="btn btn-sala" (click)="serAgente()" placement="left" tooltip="Desactivar Agente de Llamadas">
                <fa-icon class="text-light" [icon]="AgenteIcon"> </fa-icon>
            </a>
            <a class="btn btn-sala" placement="left" tooltip="Entrar a la Sala">
                <fa-icon class="text-light" [icon]="EntrarIcon"> </fa-icon>
            </a>
        </div>
    </div>
</div>

<!-- Radio  Inactiva -->
<div class="Escritorio" *ngIf="Tipo == 'Radio'">
    <div class="EscritorioHeader HeadSala" [ngClass]="{ 'text-danger': Estado === 'Inactiva', 'text-success': Estado === 'Activa' }">
        <fa-icon class="text-danger" *ngIf="Estado === 'Inactiva'" [icon]="estadoIcon"> </fa-icon>
        <fa-icon class="text-success" *ngIf="Estado === 'Activa'" [icon]="estadoIcon"> </fa-icon>
        {{ Tipo }} {{ Estado }}
        <span (click)="CerrarLlamada(Nombre, Numero, Id, Descripcion, Tipo, Estado)" style="cursor: pointer">
            <fa-icon class="text-danger" [icon]="SalirIcon" tooltip="Cerrar"> </fa-icon>
        </span>
    </div>
    <div class="EscritorioContentSala">
        <div class="ContentIzp ContentSala">
            <div class="descripcion">
                <div class="titulo">{{ Nombre }}</div>
                <div class="detalle">{{ Descripcion }}</div>
            </div>
            <div *ngIf="esRadio" class="iconoL">
                <fa-icon [icon]="RadioIcon"> </fa-icon>
            </div>
            <div *ngIf="!esRadio" class="iconoL">
                <fa-icon [icon]="HeadsetIcon"> </fa-icon>
            </div>
        </div>
        <!-- <div class="ContentDer">
            Contenido
            <div class="icon">
                0/10
            </div>
            <div class="timer">
                --:--:--
            </div>
        </div> -->
    </div>

    <div class="EscritorioOptions">
        <div class="OptionLlamada LlamadaL">
            <a class="btn btn-llamada" tooltip="Option ">
                <fa-icon [icon]="ColgarIcon"> </fa-icon>
            </a>
            <a class="btn btn-llamada" tooltip="Option" placement="left">
                <fa-icon [icon]="ColgarIcon"> </fa-icon>
            </a>
            <a class="btn btn-llamada" tooltip="Option" placement="left">
                <fa-icon [icon]="ColgarIcon"> </fa-icon>
            </a>
            <a class="btn btn-llamada" tooltip="Option" placement="left">
                <fa-icon [icon]="ColgarIcon"> </fa-icon>
            </a>
        </div>
        <!-- <div class="OptionsLlamada">
            <nav><a href="">aparcar</a></nav>
            <nav>
                <a> <i class="v-icon-volume-mute2"></i> Mute</a>
                <a href=""><i class="v-icon-pause2"></i>Pausar</a>
                <a href=""><i class="v-icon-phone-hang-up"></i>Colgar</a>
            </nav>
        </div> -->
    </div>
</div>

<ng-template #addParti>
    <div class="modal-header">
        <h4>
            Añadir participantes a <strong>{{ Nombre }}</strong>
        </h4>
    </div>
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Número</th>
                    <th>Opción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let par of partis">
                    <td>{{ par.nombre }}</td>
                    <strong><td>{{ par.numeroSip }}</td></strong>
                    <td><i-feather name="plus" style="color: green" (click)="cambioDeSala(par)" tooltip="Añadir"> </i-feather></td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

