<!-- Llamada SIP Inactiva -->
<div class="Escritorio" *ngIf="Tipo == 'Llamada'">
    <div class="EscritorioHeader" [ngClass]="{ 'text-danger': Estado === 'Inactiva', 'text-success': Estado === 'Activa' }">
        <fa-icon class="text-danger" *ngIf="Estado === 'Inactiva'" [icon]="estadoIcon"> </fa-icon>
        <fa-icon class="text-success" *ngIf="Estado === 'Activa'" [icon]="estadoIcon"> </fa-icon>
        {{ Tipo }} {{ Estado }}
        <span (click)="CerrarLlamada(Nombre, Numero, Id, Tipo)" style="cursor: pointer;">
            <fa-icon class="text-danger" [icon]="SalirIcon" tooltip="Cerrar"> </fa-icon>
        </span>
    </div>
    <div class="EscritorioContentLlamada">
        <div class="ContentIzp ContentLlamada">
            <div class="descripcion">
                <div (click)="detalleUsuario($event, Nombre)" class="titulo">{{ Nombre }}</div>
                <div class="detalle">{{ Numero }}</div>
            </div>
            <div class="icono">
                <fa-icon class="text-secondary" [icon]="LlamadaIcon"> </fa-icon>
            </div>
        </div>
        <!-- <div class="ContentDer">
            <div class="icon">
                <i class="v-icon-telephone-receiver-with-up-arrow"></i>
            </div>
            <div class="timer">
                --:--:--
            </div>
        </div> -->
    </div>
    <div class="EscritorioOptions">
        <div class="OptionLlamada LlamadaL">
            <a class="btn btn-primary" tooltip="Silenciar">
                <fa-icon class="text-dark" [icon]="VolumenIcon"> </fa-icon>
            </a>
            <a class="btn btn-warning" tooltip="Pausa">
                <fa-icon class="text-dark" [icon]="PausaIcon"> </fa-icon>
            </a>
            <a class="btn btn-danger" tooltip="Colgar">
                <fa-icon class="text-dark" [icon]="ColgarIcon"> </fa-icon>
            </a>
            <a class="btn btn-info" tooltip="Transferencia" placement="left">
                <fa-icon class="text-dark" [icon]="IntervenirIcon"> </fa-icon>
            </a>
        </div>
        <!-- <div class="OptionsLlamada">
            <nav><a href="">aparcar</a></nav>
            <nav>
                <a> <i class="v-icon-volume-mute2"></i> Mute</a>
                <a href=""><i class="v-icon-pause2"></i>Pausar</a>
                <a href=""><i class="v-icon-phone-hang-up"></i>Colgar</a>
            </nav>
        </div> -->
    </div>
</div>

<!-- Sala Inactiva -->
<div class="Escritorio" *ngIf="Tipo == 'Sala'">
    <div class="EscritorioHeader" [ngClass]="{ 'text-danger': Estado === 'Inactiva', 'text-success': Estado === 'Activa' }">
        <fa-icon class="text-danger" *ngIf="Estado === 'Inactiva'" [icon]="estadoIcon"> </fa-icon>
        <fa-icon class="text-success" *ngIf="Estado === 'Activa'" [icon]="estadoIcon"> </fa-icon>
        {{ Tipo }} {{ Estado }}
        <span (click)="CerrarLlamada(Nombre, Numero, Id, Descripcion, Tipo, Estado)" style="cursor: pointer;">
            <fa-icon class="text-danger" [icon]="SalirIcon" tooltip="Cerrar"> </fa-icon>
        </span>
    </div>
    <div class="EscritorioContentSala">
        <div class="ContentIzp ContentSala">
            <div class="descripcion">
                <div class="titulo">{{ Nombre }}</div>
                <div class="detalle">{{ Descripcion }}</div>
            </div>
            <div class="icono">
                <fa-icon class="text-secondary" [icon]="HeadsetIcon"> </fa-icon>
            </div>
        </div>
        <!-- <div class="ContentDer">
            Contenido
            <div class="icon">
                0/10
            </div>
            <div class="timer">
                --:--:--
            </div>
        </div> -->
    </div>
    <div class="EscritorioOptions">
        <div class="OptionSala SalaL">
            <a class="btn btn-info" (click)="conferencia()" tooltip="Conferencia">
                <fa-icon class="text-dark" [icon]="SalaIcon"> </fa-icon>
            </a>
            <a class="btn btn-info" tooltip="Añadir Participante">
                <fa-icon class="text-dark" [icon]="AddUserIcon"> </fa-icon>
            </a>
            <a class="btn btn-info" (click)="VerParticipantes('1')" tooltip="Ver Participantes">
                <fa-icon class="text-dark" [icon]="VerIcon"> </fa-icon>
            </a>
            <a class="btn btn-info" (click)="serAgente()" placement="left" tooltip="Ser Agente de Llamadas">
                <fa-icon [icon]="AgenteIcon" [ngClass]="{ 'text-light': estadoAgente === false, 'text-dark': estadoAgente === true }"> </fa-icon>
            </a>
        </div>
    </div>
</div>

<!-- Radio  Inactiva -->
<div class="Escritorio" *ngIf="Tipo == 'Radio'">
    <div class="EscritorioHeader">
        {{ Tipo }} {{ Estado }}
        <span (click)="CerrarLlamada(Nombre, Numero, Id, Tipo)" style="cursor: pointer;">
            <i class="v-icon-cancel" tooltip="Cerrar" style="color: #f04747;"></i>
        </span>
    </div>
    <div class="EscritorioContentRadio">
        <div class="ContentIzp">
            <div class="titulo">Radio 1</div>
            <div class="detalle">Radio de Prueba</div>
        </div>
        <div class="ContentDer">
            <div class="PTT">
                <button tooltip="pulse para hablar"><i class="v-icon-microphone"></i></button>
            </div>
        </div>
    </div>

    <div class="EscritorioOptions">
        <div class="OptionSala">
            <nav>
                <a href=""> <i class="v-icon-volume-mute2"></i> mute </a>
                <a href=""><i class="v-icon-enter"></i> Salir </a>
            </nav>
        </div>
    </div>
</div>
