.EscritorioHeader {
    display: gird;
    grid-template-columns: 90% 10%;
    align-self: center;
    font-weight: bold;
    border: none;
}
.EscritorioContentSala {
    // display: grid;
    grid-template-rows: 1fr;
    border: none;
    .ContentIzp {
        display: grid;
        grid-template-columns: 70% 30%;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        //background: white;
        .iconoL {
            color: #4b5d67;
        }
    }
    .ContentDer {
        background: white;
    }
    .ContentSala {
        background: #322f3d;
    }
}
.EscritorioContentLlamada {
    grid-template-rows: 1fr;
    border: none;
    .ContentIzp {
        display: grid;
        grid-template-columns: 70% 30%;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        .iconoS {
            color: #f6f4e6;
        }
    }
    .ContentDer {
        background: white;
    }
    .ContentLlamada {
        // background-color: #3b6978;
        background-color: #52575d;
    }
}
.EscritorioOptions {
    .SalaL {
        background: #4b5d67;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .btn-sala {
            background-color: #87556f;
            color: #17a2b8;
        }
        .btn-sala:hover {
            color: #322f3d;
            background-color: #814263;
            border-color: #7e3259;
        }
        .btn-dark {
            color: #17a2b8;
        }
        .btn-dark:hover {
            color: #e4e3e3;
            background-color: #814263;
            border-color: #7e3259;
        }
    }
    .LlamadaL {
        background: #f6f4e6;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .btn-llamada {
            background-color: #f7e7bd;
            color: #52575d;
        }
        .btn-info {
            color: #52575d;
        }
        .btn-llamada:hover {
            background-color: #e9d39b;
            color: #52575d;
            border-color: #e4ca8a;
        }
    }
    .RadioL {
        background: #84a9ac;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .btn-radio {
            background-color: #e4e3e3;
            color: #204051;
        }
        .btn-radio:hover {
            background-color: #ccc2c2;
            color: #204051;
            border-color: #cfbaba;
        }
    }
}

.listaAcce{
    padding: 30px 30px 0 30px;
    text-align: justify;
    li{
        list-style: none;
    }
}

h4{
    display: inline-block;
    margin: 20px 30px;
     
}

.origen{
    color: rgb(3, 187, 27);
}
.destino{
    color: rgb(255, 85, 73);
}
