<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
 
<!-- <ng-template #template> -->
    
<div class="modal-dialog conta">
  <div class="modal-header">
    <h4 class="title"><b>añadir participantes a la sala</b></h4>
  </div>
  <div class="modal-body">
    <table class="table">
        <div class="row filas" *ngFor="let participante of miembros">
          <div class="col-md-4">{{ participante.nombre }}</div>
            <div class="col-md-4">{{ participante.numeroSip }}</div>
            <i-feather name="plus" (click)="cambiarSala(participante.id,participante.numeroSip)" style="color: green;"  tooltip="Añadir"> </i-feather>
        </div>
    </table>
  </div>
</div>
<!-- </ng-template> -->

