.dashboard {
	display: flex;
	justify-content: space-between;
	background-color: #dce4ef;
	padding: 1em;
	color: #4e5e7c;
	align-items: center;
	a{
		color: #4e5e7c;
		text-decoration: none;
		text-transform: uppercase;
	}
}
