:host {
  //position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}


button {
  border: none;
  height: 63px;
  background: #223a59;
  border-radius: 20%;
  color: white;
  margin: 3px;
}
button:hover{
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

button:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


