<!--<head>


	<style>
		.close{
			color: white;
		}
	.modal-header{
		background-color: rgb(51, 44, 97);
		color: white;
	}
	.modal-body{
		background-color: lavender;
	}
	</style>
  </head>
-->

<br>
<header>
    <h2>LISTA DE CONTACTOS</h2>
</header>
<div class="Contactos">
	<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Numero</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of Contactos; let i=index">
          <td data-title="ID">{{i+1}}</td>
          <td data-title="Name">{{Contactos[i]['Nombre']}}</td>
          <td data-title="Status">
          	<span style="color: green" *ngIf='Contactos[i]["Estado"]=="Conectado"'>{{Contactos[i]['Estado']}}</span>
          	<span style="color: red" *ngIf='Contactos[i]["Estado"]=="Desconectado"'>{{Contactos[i]['Estado']}}</span>
          </td>
          <td data-title="Link">
            {{Contactos[i]['Numero']}}
          </td>
          <td> 
			 <i class="large material-icons md-12"  tooltip="Llamar" placement="top" style="color: #70F047">call</i>
			 <i class="large material-icons md-12"  tooltip="Editar" placement="top" style="color: #22849C;cursor: pointer;" 
			 (click)="EditarContactoComponent()">edit</i>
			 <i class="large material-icons md-12"  tooltip="eliminar?" placement="top" style="color: #F7200E">face</i>
			</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
