<div class="Contactos">
	<p>Contactos</p>
	<div class="">
		<table id="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Estado</th>
					<th>Numero</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let n of Contactos; let i = index">
					<td data-title="ID">{{ i + 1 }}</td>
					<td data-title="Name">{{ Contactos[i]['Nombre'] }}</td>
					<td data-title="Status">
						<span style="color: green" *ngIf="Contactos[i]['Estado'] == 'Conectado'">{{
							Contactos[i]['Estado']
						}}</span>
						<span style="color: red" *ngIf="Contactos[i]['Estado'] == 'Desconectado'">{{
							Contactos[i]['Estado']
						}}</span>
					</td>
					<td data-title="Link">
						{{ Contactos[i]['Numero'] }}
					</td>
					<td>
						<i class="v-icon-phone" (click)="LlamadaComponent()" tooltip="Llamar"></i>
						<i
							class="v-icon-pencil-edit-button"
							tooltip="Editar"
							(click)="EditarContactoComponent()"
						></i>
						<i class="v-icon-usersdel" tooltip="Eliminar" (click)="Eliminar(EliminarTemplate)"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #EliminarTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Eliminar Contacto</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		Esta seguro que desea eliminar este contacto?
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger btn-block" (click)="modalRef.hide()">
			Aceptar
		</button>
		<button
			type="button"
			class="btn btn-primary btn-block"
			data-dismiss="modal"
			(click)="modalRef.hide()"
		>
			Cancelar
		</button>
	</div>
</ng-template>
