<br>
<h1>Historial de Llamadas</h1>
<a [routerLink]="['/Operador/Contactos']"><button type="button">volver Lista de Contactos</button></a>
<table border="1">
		<tr>
			<th>Id</th>
			<th>Nombre de Usuario</th>
			<th>Tipo</th>
			<th>Origen</th>
			<th>Destino</th>
			<th>Duracion</th>
			<th>Fecha</th>
			<th>Acciones</th>
			<th>Descargar Audio</th>
		</tr>
		<tr>
			<th>1</th>
			<th>Juan < 3001 ></th>
			<th>icon saliente</th>
			<th>icon caja</th>
			<th>icon patrulla</th>
			<th>02:30 min</th>
			<th>05/07/2019</th>
			<th>(reproductor)</th>
			<th>button</th>
		</tr>
		<tr>
			<th>2</th>
			<th>Brenda < 3006 ></th>
			<th>icon etrante</th>
			<th>icon caja</th>
			<th>icon patrulla</th>
			<th>02:30 min</th>
			<th>05/07/2019</th>
			<th>(reproductor)</th>
			<th>button</th>
		</tr>
		<tr>
			<th>3</th>
			<th>Pamela < 3001 ></th>
			<th>icon perdida</th>
			<th>icon caja</th>
			<th>icon patrulla</th>
			<th>02:30 min</th>
			<th>05/07/2019</th>
			<th>(reproductor)</th>
			<th>button</th>
		</tr>
		<tr>
			<th>4</th>
			<th>Daniela < 3001 ></th>
			<th>icon saliente</th>
			<th>icon caja</th>
			<th>icon patrulla</th>
			<th>02:30 min</th>
			<th>05/07/2019</th>
			<th>(reproductor)</th>
			<th>button</th>
		</tr>
</table>
