.Dashboard-SideBar {
	background-color: #4e5e7c;
	position: absolute;
	width: 5%;
	height: 100vh;
	z-index: 3;
	padding-top: 44px;
	&-Salas{
		ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{ 
			padding:20px 10px;
			a{
				background-color: #607396;
				color: #fff;
				padding:12px;
				text-decoration: none;
				border-radius: 50%;
			}
		}
		}	
	}
	&-Options{
		ul{
		list-style: none;
		position: absolute;
    	bottom: 0;
		margin: 0;
		li{ 
			padding:20px 10px;
			a{
				font-size: 25px;
				color: #fff;
				padding:10px;
				text-decoration: none;
			}
		}
		}
	}
}
.Dashboard-Header{
	padding-left:6%;
	display: flex;
	align-items: center;
	background-color: #607396;
	nav{
		padding-left:15%;
		display: flex;
		
		li{	
			list-style: none;
			padding: 1em;
			justify-content: space-between;
			a{
			color: #9CAFD3;
			text-decoration: none;
			text-transform: uppercase;
			}
		}
	}
	.Header-form{
		display: grid;

		&-text{
			color: #4e5e7c;
				height: 30px;
				padding-left: 1em;
				border-radius: 4px;
				outline: none;
				border: 1px solid transparent;
				transition: border 0.3s linear;
				&:focus {
					border: 1px solid lighten(#4e5e7c, 5);
				}
		}
	}

}
.Dashboard-ColumnOne{
		padding-left:6%;
		position: absolute;
		background-color: #9CAFD3;
		width: 20%;
		height: 92vh;
		&-Space{
			height: 80vh;
			margin-left:-20px;
			
		}
		&-User{
			position: absolute;
			padding-bottom: 20px;
			padding-left:20px;
			padding-top: 10px;
			margin-left:-20px;
			width: auto;
    		bottom: 0;
			display: flex;
			background-color: #425271;

			&-right{
			padding-right: 10px; 
				&-Name{
					color: #fff;
				}
				&-Id{
					color: #898989;
				}
			}
			&-left{
			padding: 10px;
				&-picture{
					padding:10px;
				}
			}
			&-Icon{
				display: flex;
				align-items: center;
				padding-right:27px;
				a{
					font-size: 25px;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
	.Dashboard-ColumnTwo{
		position:absolute;
		padding-left:23%;
	}

@media screen and (max-width: 768px){
	 .Dashboard-SideBar {
		margin-top: calc(10% - 2em);
		width: 18%;	 
	 }
	 .Dashboard-Header{
		padding-left: 20%;
}
}

