// =============================================================================
// FONTS SIZES
// =============================================================================

$sizeFonts: (
	fs12: 12px,
	fs15: 15px,
	fs26: 26px,
	fs28: 28px
);

@each $element, $size in $sizeFonts {
	.#{$element} {
		font-size: $size;
	}
}

$fontWeight: (
	fnormal: 300,
	fregular: 400,
	fsemibold: 500,
	fbold: 600
);

@each $element, $weight in $fontWeight {
	.#{$element} {
		font-weight: $weight;
	}
}
