// =============================================================================
// FONTS SIZES
// =============================================================================

$sizeFonts: (
	fs12: 12px,
	fs15: 15px,
	fs26: 26px,
	fs28: 28px
);

@each $element, $size in $sizeFonts {
	.#{$element} {
		font-size: $size;
	}
}

$fontWeight: (
	fnormal: 300,
	fregular: 400,
	fsemibold: 500,
	fbold: 600
);

@each $element, $weight in $fontWeight {
	.#{$element} {
		font-weight: $weight;
	}
}

// =============================================================================
// MIXIN SHADOWS para usar @include shadow(1..5,color)
// =============================================================================
@mixin shadow($type: 2, $c: black) {
	@if $type == 1 {
		box-shadow: 0 1px 3px rgba($c, 0.12), 0 1px 2px rgba($c, 0.24);
	} @else if $type == 2 {
		box-shadow: 0 3px 6px rgba($c, 0.16), 0 3px 6px rgba($c, 0.23);
	} @else if $type == 3 {
		box-shadow: 0 10px 20px rgba($c, 0.19), 0 6px 6px rgba($c, 0.23);
	} @else if $type == 4 {
		box-shadow: 0 14px 28px rgba($c, 0.25), 0 10px 10px rgba($c, 0.22);
	} @else if $type == 5 {
		box-shadow: 0 19px 38px rgba($c, 0.3), 0 15px 12px rgba($c, 0.22);
	} @else {
		@error "Valares entre 1 y 5.";
	}
}
