

<section class="Agenda">
	<div class="table-responsive-vertical shadow-z-1">
		<!-- Table starts here -->
		<table id="table" class="table table-hover table-mc-light-blue">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Numero</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let n of Contactos; let i = index">
					<td data-title="Name">{{ Contactos[i]['Nombre'] }}</td>
					<td data-title="Link">
						{{ Contactos[i]['Numero'] }}
					</td>
					<td>
						<i class="v-icon-phone" (click)="LlamadaComponent()" tooltip="Llamar" style="color: green"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>