<h1></h1>
<!--<input type="button" value="Volver" [routerLink]="['/Administrador/DetalleContacto']">-->

<div class="modal-header">
	<h6 class="modal-title">Formulario Agregar Numero Sip/Iax</h6>
</div>

<div class="modal-body">
	<div class="container ">
		<form class="añadir_contact">

			<div class="row">
				<div class="col-md-6 ">
					<label for="nombre">Alias :</label>
					<input type="text"  class="form-control" />
				</div>
				<div class="col-md-6 ">
					<label for="telnumero">TIPO</label>
					<select class="form-control" >
						<option value="SIP">SIP</option>
						<option value="IAX">IAX</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 ">
					<label for="apPaterno">Numero</label>
					<input type="text"  class="form-control" />
				</div>
				<div class="col-md-6 ">
					<label for="apMaterno">Contraseña</label>
					<input type="text"  class="form-control" />
				</div>
			</div>	
		</form>

		
	</div>
</div>
<div class="modal-footer ">
	<button type="button" class="btn btn-danger btn-block" [routerLink]="['/Administrador/DetalleContacto']">Volver</button>
	<button type="button" class="btn btn-primary btn-block" >
		Crear cNumero
	</button>
</div>
