<h1></h1>
<!--<input type="button" value="Volver" [routerLink]="['/Administrador/DetalleContacto']">-->

<div class="modal-header">
	<h6 class="modal-title">Formulario Agregar Numero Sip/Iax</h6>
</div>

<div class="modal-body">
	<div class="container ">
		<form class="añadir_contact" [formGroup]="addForm">

			<div class="row">
				<div class="col-md-6 ">
					<label for="alias">Alias :</label>
					<input type="text" formControlName="alias" class="form-control" />
				</div>
				<div class="col-md-6 ">
					<label for="tipo">TIPO</label>
					<select class="form-control" formControlName="tipo">
						<option value="SIP">SIP</option>
						<option value="IAX">IAX</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 ">
					<label for="numero">Numero</label>
					<input type="text"  class="form-control" formControlName="numero" />
				</div>
				<div class="col-md-6 ">
					<label for="password">Contraseña</label>
					<input type="password"  class="form-control" formControlName="password" />
				</div>
			</div>	
		</form>

		
	</div>
</div>
<div class="modal-footer ">
	<button type="button" class="btn btn-danger btn-block" [routerLink]="['/Administrador/DetalleContacto', {id: identy}]">Volver</button>
	<button type="button" class="btn btn-primary btn-block" [disabled]="addForm.invalid" (click)="add()">
		Crear cNumero
	</button>
</div>
