
/*----------------------------------------------------------*/

/*----------------------------------------------------------*/
.login {
  width: 100%;
  margin: 0 auto;
  &__container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #35495e;
  }
  &__wrap {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  &__header {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-image: url("assets/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;

    &--titulo {
      font-family: Poppins-Bold;
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
    }
  }
  &__body {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
    &--wrap {
      width: 100%;
      position: relative;
      border-bottom: 1px solid #b2b2b2;
      margin-bottom: 26px;
    }
    &--datos {
      font-family: Poopins-Regular;
      font-size: 15px;
      color: #808080;
      line-height: 1.2;
      text-align: right;

      position: absolute;
      top: 14px;
      left: -105px;
      width: 80px;
    }
    &--user-input {
      font-family: Poppins-Regular;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;

      display: block;
      width: 100%;
      background: transparent;
      padding: 0 5px;
    }
    &--focus {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }
}
