<div class="navbar-horiz">
    <div class="nav-ini">
      <i class="v-icon-microphone1" placement="right"></i>
      Historial de Llamadas
    </div>
    <nav>
      <ul class="nav-mid">
        <li >
          <a (click)="defaultHistOpe()">Todos</a>
        </li>
        <li >
          <a (click)="salientes()">Salientes</a>
        </li>
        <li>
          <a (click)="entrantes()">Entrantes</a>
        </li>
        <li>
          <a (click)="perdidas()">Perdidas</a>
        </li>
      </ul>
    </nav>
    <div class="nav-fin">
      <input
        type="text"
        placeholder="Datepicker"
        class="form-control"
        bsDatepicker
        [bsConfig]="{ isAnimated: true }"
      />
      <input type="text" class="form-control" [formControl]="search" placeholder="Contacto" />
      <button type="submit">
        <i class="v-icon-magnifying-glass"></i>
      </button>
    </div>
  </div>


<div class="Historial">
	<div class="table-responsive-vertical shadow-z-1">
		<!-- Table starts here -->
		<table id="table" class="table table-hover table-mc-light-blue">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre de Usuario</th>
					<th>Tipo</th>
					<th>Origen</th>
					<th>Destino</th>
					<th>Duracion</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let n of Historia; let i = index">
					<td data-title="ID">{{ i + 1 }}</td>
					<td data-title="Name">< {{ numberSelected }} > {{ obj.nombre }}</td>
					<td data-title="Status">
					  <span *ngIf="n.tipo == 'perdida'" style="color: red"
						><i class="v-icon-phone_missed"></i> {{ n.tipo }}</span
					  >
					  <span *ngIf="n.tipo == 'entrante'" style="color: blue"
						><i class="v-icon-incoming-call"></i> {{ n.tipo }}</span
					  >
					  <span *ngIf="n.tipo == 'saliente'" style="color: green"
						><i class="v-icon-telephone-receiver-with-up-arrow"></i>
						{{ n.tipo }}</span
					  >
					</td>
					<td data-title="Link">
					  <i class="v-icon-walkie-talkie"></i>
					  {{ numberSelected }}
					</td>
					<td data-title="Link">
					  <i class="v-icon-ambulance-side-view"></i> {{ n.numero }}
					</td>
					<td data-title="Link">{{ n.segundos }}</td>
					<td data-title="Link">{{ n.fechayhora }}</td>
				  </tr>
			</tbody>
		</table>
	</div>
</div>