<section class="sala">
	<div class="s-flecha">
		<button>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
	</div>
	<div class="s-sala">
		SALA 1
	</div>
	<div class="s-detalle">
		0/5
	</div>
</section>

<section class="sala">
	<div class="s-flecha">
		<button>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
	</div>
	<div class="s-sala">
		SALA 1
	</div>
	<div class="s-detalle">
		0/5
	</div>
</section>

<section class="sala">
	<div class="s-flecha">
		<button>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
	</div>
	<div class="s-sala">
		SALA 1
	</div>
	<div class="s-detalle">
		0/5
	</div>
</section>

<section class="sala">
	<div class="s-flecha">
		<button>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
	</div>
	<div class="s-sala">
		SALA 1
	</div>
	<div class="s-detalle">
		0/5
	</div>
</section>

<section class="sala">
	<div class="s-flecha">
		<button>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
	</div>
	<div class="s-sala">
		SALA 1
	</div>
	<div class="s-detalle">
		0/5
	</div>
</section>

<section class="sala">
	<div class="s-flecha">
		<button>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
	</div>
	<div class="s-sala">
		SALA 1
	</div>
	<div class="s-detalle">
		0/5
	</div>
</section>

<section class="sala">
	<div class="s-flecha">
		<button>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</button>
	</div>
	<div class="s-sala">
		SALA 1
	</div>
	<div class="s-detalle">
		0/5
	</div>
</section>
