<section class="registro">
    <div class="recibidas">
        <div class="r-tittle">Recibidas</div>
        <fa-icon [icon]="phoneIcon"> </fa-icon>
        <div class="r-number r-number--recibidas">{{ llamadasRecibidas }}</div>
    </div>
    <div class="realizadas">
        <div class="r-tittle">Realizadas</div>
        <fa-icon [icon]="phoneIcon"> </fa-icon>
        <div class="r-number r-number--realizadas">{{ llamadasRealizadas }}</div>
    </div>
    <div class="perdidas">
        <div class="r-tittle">Perdidas</div>
        <fa-icon [icon]="phoneIcon"></fa-icon>
        <div class="r-number r-number--perdidas">{{ llamadasPerdidas }}</div>
    </div>
</section>
