<section class="registro">
    <div class="perdidas">
        <div class="r-tittle">Perdidas</div>
        <fa-icon [icon]="phoneIcon"></fa-icon>
        <div class="r-number r-number--perdidas">5</div>
    </div>
    <div class="realizadas">
        <div class="r-tittle">Realizadas</div>
        <fa-icon [icon]="phoneIcon"> </fa-icon>
        <div class="r-number r-number--realizadas">124</div>
    </div>
    <div class="recibidas">
        <div class="r-tittle">Recibidas</div>
        <fa-icon [icon]="phoneIcon"> </fa-icon>
        <div class="r-number r-number--recibidas">1000</div>
    </div>
</section>
