/*.escritorio {
	animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	border-radius: 10px;
	 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background:  linear-gradient(45deg, #F4EBE5, #E3D4CA);
	margin: 10px;
	button {
		font-size: 15px;
		width: 100%;
		height: 30px;
		color: #223a59;
		background: #6bee17;
	}
	button:active {
		background: #efffc0;
	}
	&__header {
		border-radius: 10px 10px 0px 0px;
		background: #eeeeee;
		span{
			float:right;
			padding-right: 10px;
			font-size: 18px;
		}
		&--ocupado {
			background: #81dbe0;
			span{
			float:right;
			padding-right: 10px;
			font-size: 18px;
		}
		}
	}

	&__body {
		color: black;
		background: #ffffff;
	}
	&__footer-normal {
		display: grid;
		grid-template-columns: 1fr 1fr;
		background: #e3e5e8;
		color: #223a59;
	}
	&__footer-ptt {
		background: #e3e5e8;
		color: #223a59;
	}
}
*/
.Escritorio {
    margin: 8px;
    display: grid;
    grid-template-rows: 4vh 8vh auto;
    //background: #254551;
    grid-template-areas:
        'EscritorioHeader'
        'EscritorioContent'
        'EscritorioOptions';
    animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    .HeadSala {
        background-color: #59405c;
    }
    .HeadLlamada {
        // background-color: #204051;
        background-color: #41444b;
    }
}
.EscritorioHeader {
    grid-area: EscritorioHeader;
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;

    margin-bottom: -5px;
    color: white;
    span {
        float: right;
        padding-right: 5px;
        //padding-bottom: 2px;
        font-size: 18px;
    }
}
.EscritorioContentLlamada {
    grid-area: EscritorioContent;
    display: grid;
    grid-template-areas: 'ContentIzp' 'ContentDer';
}
.EscritorioContentSala {
    grid-area: EscritorioContent;
    display: grid;
    grid-template-areas: 'ContentIzp' 'ContentDer';
}
.EscritorioContentRadio {
    grid-area: EscritorioContent;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 'ContentIzp ContentDer';
    background-image: url(assets/radio.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    -moz-box-shadow: inset 10px 10px 50px #013162;
    -webkit-box-shadow: inset 10px 10px 50px #013162;
    box-shadow: inset 10px 10px 50px #013162;
}
.ContentIzp {
    grid-area: ContentIzp;
    background: #254551;
    .descripcion {
        display: grid;
        grid-template-rows: 1fr 1fr;
        //background: #254551;
        .titulo {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .detalle {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            height: 100%;
        }
    }
    .iconoS {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        height: 100%;
    }
    .iconoL {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        height: 100%;
    }
}
.ContentDer {
    grid-area: ContentDer;
    display: grid;
    .icon {
        color: #1aff28;
        line-height: 50px;
        text-align: center;
        font-size: 35px;
        text-shadow: 0px 0px 15px #ffffff;
    }
    .timer {
        text-align: center;
        color: #1aff28;
        text-shadow: 2px 4px 3px #000000;
    }
    .PTT {
        button {
            opacity: 0.8;
            background: #1d976c; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #93f9b9, #1d976c); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #93f9b9, #1d976c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            height: 80%;
            width: 70%;
            margin-top: 5%;
            margin-left: 5%;
            border-radius: 50%;
            color: #ffffff;
            font-size: 40px;
            text-align: center;
        }
        button:hover {
            background: #000;
            color: var(--color-uno);
            animation-name: initial;
        }
    }
}
.EscritorioOptions {
    grid-area: EscritorioOptions;
    //////////////////////////////
    .OptionLlamada {
        border-radius: 0px 0px 5px 5px;
        a {
            padding: 3px;
            width: 35px;
            font-size: 15px;
            margin: 5px 15px;
            // color: red;
        }
    }
    .OptionSala {
        border-radius: 0px 0px 5px 5px;
        a {
            padding: 3px;
            width: 35px;
            font-size: 15px;
            margin: 5px 8px;
            // color: red;
        }
        // nav {
        //     width: 100%;
        //     height: 100%;
        //     background: #373b44;
        //     background: -webkit-linear-gradient(to top, #373b44, #4f4f4f);
        //     background: linear-gradient(to top, #373b44, #4f4f4f);
        //     font-size: 0;
        //     box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
        // }
        // nav {
        //     font-size: 10px;
        //     text-transform: uppercase;
        //     color: white;
        //     text-decoration: none;
        //     line-height: 50px;
        //     z-index: 1;
        //     display: inline-block;
        //     text-align: center;
        //     border-right: 1px solid gray;

        //     i {
        //         font-size: 10px;
        //         padding-right: 4px;
        //     }
        // }
        // a:nth-child(1) {
        //     width: 50%;
        // }
        // a:nth-child(2) {
        //     width: 50%;
        // }
    }

    //////////////////////////
}

//Animations
@keyframes swing-in-bottom-fwd {
    0% {
        transform: rotateX(100deg);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        transform-origin: bottom;
        opacity: 1;
    }
}
