<h2>Lista de Cuentas</h2>
<hr>
<section class="contactos">
	<div *ngFor="let n of contactos; let i = index">
		<cuenta-card
			Nombre="{{ contactos[i]['nombre'] }}"
			Paterno="{{ contactos[i]['apMaterno'] }}"
			Materno="{{ contactos[i]['apPaterno'] }}"
			Correo="{{ contactos[i]['correo'] }}"
			Direccion="{{ contactos[i]['direccion'] }}"
			Telefono="{{ contactos[i]['telefono'] }}"
			Tipo="{{ contactos[i]['tipo'] }}"
			Conectado="{{ contactos[i]['conectado'] }}"
			Id="{{ contactos[i]['id'] }}"
		></cuenta-card>
	</div>
</section>

<ng-template #EliminarTemplate>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Eliminar Contacto</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		Esta seguro que desea eliminar este contacto?
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger btn-block" (click)="modalRef.hide()">
			Aceptar
		</button>
		<button
			type="button"
			class="btn btn-primary btn-block"
			data-dismiss="modal"
			(click)="modalRef.hide()"
		>
			Cancelar
		</button>
	</div>
</ng-template>
