<section class="administrador-dashboard">
	<div class="navigation"></div>
	<div class="content">
		<div class="content-menu">
			<ul>
						<li>
							<a class="Item"><i class="v-icon-group"></i>Cuentas</a>
						</li>
						<li>
								<a [routerLink]="['/Administrador/Cuentas']" class="subItem">Lista de Cuentas</a>
						</li>
						<li>
							  <a [routerLink]="['/Administrador/AgregarCuenta']" class="subItem">Agregar cuenta</a>
						</li>
						<li>
							<hr>
							<a class="Item"><i class="v-icon-group"></i>SIP&IAX</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/SIP_IAX']" class="subItem">Listar Sip & Iax</a>
						</li>
						
						<li>
							<a [routerLink]="['/Administrador/AgregarSipIax']" class="subItem">Agregar Sip - Iax</a>
						</li>
						<hr>
						<li>
							<a class="Item"><i class="v-icon-bubbles4"></i>Salas</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Salas']" class="subItem">Lista de Salas</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/AgregarSala']" class="subItem">Agregar Sala</a>
						</li>
						<hr>
						<li>
							<a class="Item"><i class="v-icon-radio"></i>Radios</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Radios']" class="subItem">Listar Radios</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/AgregarRadio']" class="subItem">Crear Radio</a>
						</li>
						<hr>
						<li>
							<a class="Item"><i class="v-icon-radio"></i>Extensions / IVR</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/Radios']" class="subItem">ver Extensiones o IVR's</a>
						</li>
						<li>
							<a [routerLink]="['/Administrador/AgregarRadio']" class="subItem">Crear Extension / IVR</a>
						</li>
						<hr>
						<li>
							<a [routerLink]="['/Administrador/Historial']">
								<i class="v-icon-phone1"></i>Historial de Llamadas</a>
						</li>
						<hr>
						<li>
							<a [routerLink]="['/Administrador/Grabaciones']">
								<i class="v-icon-cassette"></i>Grabaciones</a>
						</li>
						<hr>
						<li>
							<a [routerLink]="['/Administrador/Tracking']">
								<i class="v-icon-location"></i>Tracking</a>
						</li>
						<hr>
						<li>
							<a [routerLink]="['/Login']">
								<i class="v-icon-enter" ></i>Salir</a>
						</li>
					</ul>
				
			
		</div>
		<div class="content-pages">
			<router-outlet></router-outlet>
		</div>
	</div>
</section>

