.login {
    height: 100vh;
    display: grid;
    width: 100%;
    grid-template-rows: auto 50px;
    grid-template-areas:
        'body'
        'footr';
}

//BODY LOGIN
.login__body {
    grid-area: body;
    background: url(../../assets/bg.png);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-size: 100% 100%;
}

.login__login {
    animation: bounce-in-top 1.1s ease-in;
    width: 500px;
    border-radius: 5px;
    background: var(--color-uno);
    text-align: left;
    opacity: 0.97;
    &--titulo {
        color: var(--color-cuatro);
        padding-top: 50px;
        text-align: center;
    }
    &--form {
        color: var(--color-cuatro);
        width: 100%;
        padding: 20px 30px 20px 30px;
    }
    &--label {
        width: 100%;
        padding-top: 10px;
    }
    &--input {
        width: 100%;
        padding-left: 5px;
    }
    button {
        border-radius: 2%;
        border: none;
    }
    button:active:after {
        .login__login {
        }
    }
    button:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 20px var(--color-cuatro);
        background: var(--color-cuatro);
    }
    &--btn {
        height: 50px;
        width: 100%;
        background: var(--color-tres);
    }
}
.label-left {
    text-align: right;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    &--right {
        text-align: left;
        padding-top: 15px;
    }
}
//FIN BODY LOGIN
.login__footer {
    grid-area: footr;
    padding-top: 12px;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    //color: var(--color-dos);
}
//Animations
@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}
