<header class="login__header">
  Patelecom
</header>
<div class="login__body">
  <form class="login__login" (submit)="Autentificador($event)">
    <div class="login__login--titulo">
      <h2>INICIAR SESIÓN</h2>
    </div>
    <div class="login__login--form">
      <label class="login__login--label">USUARIO/EMAIL</label>

      <input
        class="login__login--input"
        type="text"
        placeholder="Ingrese nombre de Usuario"
        required
      />

      <label class="login__login--label">CONTRASEÑA</label>

      <input
        class="login__login--input"
        type="text"
        placeholder="Ingrese su Contraseña"
        required
      />
      <label class="label-left">
         ¿Olvidaste tu Contraseña?
      </label>
      <button class="btn btn-primary login__login--btn" type="submit">
        Iniciar Sesion
      </button>
      <label class= "label-left--right">
        <input type="checkbox" checked="checked" /> Recordar mis datos
      </label>
    </div>
  </form>
</div>
<footer class="login__footer">
  2019 Patelecom
</footer>
