<section class="Agenda animated fadeIn">
    <div class="add-buscar">
        <input type="text" class="form-control" placeholder="Contacto" />
        <i-feather name="search" tooltip="Buscar"> </i-feather>
    </div>
    <div class="add-content">
        <div class="add-header">
            <h6>Nombre</h6>
            <h6>Numero</h6>
            <h6>Opciones</h6>
        </div>
        <div class="add-body" *ngFor="let n of Friend; let i = index">
            <div data-title="Name">{{ Friend[i]['nombre'] }}</div>
            <div data-title="Link">
                {{ Friend[i]['numero'] }}
            </div>
            <div class="add-options">
                <i class="v-icon-dialer_sip" tooltip="Llamar"></i>
                <i-feather name="plus" (click)="addAmigo(Friend[i]['nombre'], Friend[i]['numero'])" tooltip="Añadir"></i-feather>
            </div>
        </div>
    </div>
</section>
