<section class="dialpad">
	<div class="dialpad__content">
		<input class="dialpad__input" [(ngModel)]="dialNumber" type="text" maxlength="15" />
		<div class="dialpad__clear" (click)="Limpiar()">
			<i-feather name="arrow-left" class="icon-left"></i-feather>
		</div>
		<button *ngFor="let item of symbols" (click)="setValue(item)">{{ item }}</button>
	</div>
	<div class="dialpad__events">
		<button (click)="Llamada()">
			<i-feather name="phone-call"></i-feather>
		</button>
		<button (click)="endCall()">
			<i-feather name="phone-off"></i-feather>
		</button>
	</div>
</section>
