<section class="dialpad">
	<div class="dialpad__content">
		<input class="dialpad__input" [(ngModel)]="dialNumber" type="text" maxlength="15" />
		<div class="dialpad__clear" (click)="Limpiar()">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</div>
		<button *ngFor="let item of symbols" (click)="setValue(item)">{{ item }}</button>
	</div>
	<div class="dialpad__events">
		<button (click)="Llamada()">
			Llamar
		</button>
		<button (click)="endCall()">
			Colgar
		</button>
	</div>
</section>
