.login{
	position: relative;
	min-height: 100vh;
	&-header{
		background-color: #dce4ef;
		padding: 1em;
		text-align: center;
		color: #4e5e7c;
		h2 {
			font-weight: 400;
		}
	}
	&-footer{
		position: absolute;
		width: 100%;
		bottom: 0;
		background-color: #dce4ef;
		padding: 1em;
		text-align: center;
		color: #4e5e7c;
		margin-top: auto;
	}
}


// @media screen and (max-width: 768px){
// 	.login{
// 		&-footer{
// 			bottom: 0;
// 		}
// 	}
// }