$color: #353939;
$color2: #eeeeee;

.agenda-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $color;
    color: white;
    font-weight: bolder;
    text-align: center;
    height: 2em;
    padding-top: 6px;
}
.agenda-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background: $color2;
    border: 2px solid white;
    div {
        padding: 10px 3px;
    }
    .agenda-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: green;
        i-feather {
            color: red;
        }
    }
}
