<section class="Agenda animated fadeIn">
    <div class="table-responsive-vertical shadow-z-1">
        <div class="agenda-content">
            <div class="agenda-header">
                <h6>Nombre</h6>
                <h6>Numero</h6>
                <h6>Opciones</h6>
            </div>
            <div class="agenda-body" *ngFor="let friend of Amigos; let i = index">
                <div class="ag-col">
                    <fa-icon class="recibida text-danger" [icon]="estado" *ngIf="!estaConectado(friend.numero)"> </fa-icon>
                    <fa-icon class="recibida text-success" [icon]="estado" *ngIf="estaConectado(friend.numero)"> </fa-icon>
                    {{ friend.nombre }}
                </div>
                <div class="ag-col">{{ friend.numero }}</div>
                <div class="ag-col agenda-options">
                    <div>
                        <em class="v-icon-dialer_sip text-success" (click)="LlamadaComponent(friend.numero)" tooltip="Llamar"></em>
                    </div>
                    <div>
                        <i-feather class="text-danger" name="minus" (click)="deletearAmigo(friend.id, friend.numero)" tooltip="Eliminar"></i-feather>
                    </div>
                </div>
            </div>
            <div *ngIf="Amigos.length == 0">
                <p>No Tienes Contactos en tu agenda</p>
            </div>
        </div>
    </div>
</section>
