<section class="Agenda animated fadeIn">
    <div class="table-responsive-vertical shadow-z-1">
        <div class="agenda-content">
            <div class="agenda-header">
                <h6>Nombre</h6>
                <h6>Numero</h6>
                <h6>Opciones</h6>
            </div>
            <div *ngIf="Amigos.length != 0">
                <div *ngFor="let n of Amigos; let i = index" class="agenda-body">
                    <div data-title="Name">{{ Amigos[i]['nombre'] }}</div>
                    <div data-title="Link">
                        {{ Amigos[i]['numero'] }}
                    </div>
                    <div class="agenda-options">
                        <i
                            class="v-icon-dialer_sip"
                            (click)="LlamadaComponent(Contactos[i]['id'], Contactos[i]['Nombre'], Contactos[i]['Numero'])"
                            tooltip="Llamar"
                        ></i>
                        <i-feather name="minus" (click)="deletearAmigo(Amigos[i]['id'])" tooltip="Eliminar"></i-feather>
                    </div>
                </div>
            </div>
            <div *ngIf="Amigos.length == 0">
                <p>No Tienes Contactos en tu agenda</p>
            </div>
        </div>
    </div>
</section>
