<section class="Agenda animated fadeIn">
    <div class="table-responsive-vertical shadow-z-1">
        <div class="agenda-content">
            <div class="agenda-header">
                <h6>Nombre</h6>
                <h6>Numero</h6>
                <h6>Opciones</h6>
            </div>
            <div *ngIf="Amigos.length != 0">
                <ul class="list-group">
                    <li *ngFor="let friend of Amigos" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-md-5">
                                {{ friend.nombre }}
                            </div>
                            <div class="col-md-4">
                                {{ friend.numero }}
                            </div>
                            <div class="col-md-1">
                                <i class="v-icon-dialer_sip"
                                    (click)="LlamadaComponent(friend.numero)"
                                    style="color: green;" tooltip="Llamar"></i>
                            </div>
                            <div class="col-md-1" style="color: green;">
                                <i-feather name="minus" style="color: red;"
                                    (click)="deletearAmigo(friend.id, friend.numero)" tooltip="Eliminar"></i-feather>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="Amigos.length == 0">
                <p>No Tienes Contactos en tu agenda</p>
            </div>
        </div>
    </div>
</section>
