<!-- 
<div class="card border-success mb-3" style="max-width: 18rem;" *ngIf="textoHijo2">
   <div class="card-header bg-transparent border-success">Header</div>
   <div class="card-body text-success">
     <h5 class="card-title">Success card title</h5>
     Esta es la respuesta : {{ numSrc }}
   </div>
   <div class="card-footer bg-transparent border-success">Footer</div>
 </div> -->

<div class="card" *ngIf="numDts">
    <div class="header">
        <b>Intervención {{ numDts }} _ {{ numSrc }}</b>
        <i-feather name="x-circle" (click)="cerrarIntervenion()"></i-feather>
    </div>
    <div class="body">
        <div class="origen">
            <div class="nombre">
                {{ nomSrc}} 
            </div>
            <div class="numeroorigen">
                {{numSrc}}<i-feather class="verde" name="phone-outgoing"></i-feather>
            </div>
        </div>
        <div class="destino">
            <div class="numerodestino">
                <i-feather class="rojo" name="phone-incoming"></i-feather>{{numDts}}
            </div>
            <div class="nombredestino">
                 {{ nomDts }}
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-success btn-block" (click)="intervenir(modalintervencion)" [disabled] = "llamando!=false">Intervenir</button>
        <button (click)="endCall()" class="colgar" tooltip="colgar" *ngIf="llamando" ><i-feather name="phone-off"></i-feather></button>
        <!-- <button class="btn btn-success">Silenciosa</button>
        <button class="btn btn-dark">O / D</button>
        <button class="btn btn-danger">Ambos</button> -->
    </div>
</div>
<!-- <div class="card" style="width: 100%">
<div class="row">
    <div class="col">
        <div class="origen">
            <h5>Origen</h5>
            <i-feather name="phone-outgoing"></i-feather>
        </div>
        <div class="card" style="width: auto">
            <div class="card-body">
                <h5 class="card-title"> {{ nomSrc }}</h5>
                <p class="card-text">
                    {{ numSrc }}
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: auto">
            <div class="card-body">
                <h5 class="card-title">{{ nomDts }}</h5>
                <p class="card-text">
                    {{ numDts }}
                </p>
            </div>
        </div>
        <div class="destino">
            <i-feather name="phone-incoming"></i-feather>
            <h5>Destino</h5>
        </div>
    </div>
</div>
</div> -->

<!-- Modal Intervencion de llamadas -->

<ng-template #modalintervencion>
    <div class="modal-body text-center">
        <h3>
            Modo de intervención
        </h3>
        <tabset [justified]="true">
            <tab heading="Silenciosa">
                <div class="row">
                    <ul class="listaAcce">
                        <li>Solo podras escuchar la llamada</li>
                        <li>Ellos no sabran que los estas escuchando</li>
                        <li>No podras conversar con ningun participante</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="origen">
                            <h4>Origen</h4>
                            <i-feather name="phone-outgoing"></i-feather>
                        </div>
                        <div class="card" style="width: 100%">
                            <div class="card-body">
                                <h5 class="card-title">{{ nomSrc }}</h5>
                                <p class="card-text">
                                    {{ numSrc }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%">
                            <div class="card-body">
                                <h5 class="card-title">{{ nomDts }}</h5>
                                <p class="card-text">
                                    {{ numDts }}
                                </p>
                            </div>
                        </div>
                        <div class="destino">
                            <i-feather name="phone-incoming"></i-feather>
                            <h4>Destino</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button (click)="intervencion('silen')" class="btn btn-success btn-block">INTERVENIR</button>
                </div>
            </tab>
            <tab heading="O/D">
                <div class="row">
                    <ul class="listaAcce">
                        <li>Podras intervenir a uno de los participantes</li>
                        <li>Solo el participante que intervengas podrá conversar contigo</li>
                    </ul>
                </div>
                <hr>
                <p>
                    <strong> Seleccione alguno para intervenir  </strong>
                </p>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="origen">
                            <h4>Origen</h4>
                            <i-feather name="phone-outgoing"></i-feather>
                        </div>
                        <div class="card" style="width: auto" (click)="cambioIntervencion('Src', numSrc)">
                            <div
                                class="card-body"
                                [ngStyle]="{ 'background-color': over === 'src' ? 'rgb(3, 187, 27)' : 'white', color: over === 'src' ? 'white' : 'black' }"
                            >
                                <h5 class="card-title">{{ nomSrc }}</h5>
                                <p class="card-text">
                                    {{ numSrc }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: auto" (click)="cambioIntervencion('Dts', numDts)">
                            <div
                                class="card-body"
                                [ngStyle]="{ 'background-color': over === 'dts' ? ' rgb(255, 85, 73)' : 'white', color: over === 'dts' ? 'white' : 'black' }"
                            >
                                <h5 class="card-title">{{ nomDts }}</h5>
                                <p class="card-text">
                                    {{ numDts }}
                                </p>
                            </div>
                        </div>
                        <div class="destino">
                            <i-feather name="phone-incoming"></i-feather>
                            <h4>Destino</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button (click)="intervencion('od')" class="btn btn-success btn-block" [disabled]="over==''">INTERVENIR</button>
                </div>
            </tab>
            <tab heading="Ambos">
                <div class="row">
                    <ul class="listaAcce">
                        <li>Ambos participantes podran oirte</li>
                        <li>Podras conversar con ambos participantes</li>
                        <li>Ellos no sabran que los estas escuchando</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="origen">
                            <h4>Origen</h4> 
                            <i-feather name="phone-outgoing"></i-feather>
                        </div>
                        <div class="card" style="width: auto">
                            <div class="card-body">
                                <h5 class="card-title">{{ nomSrc }}</h5>
                                <p class="card-text">
                                    {{ numSrc }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: auto">
                            <div class="card-body">
                                <h5 class="card-title">{{ nomDts }}</h5>
                                <p class="card-text">
                                    {{ numDts }}
                                </p>
                            </div>
                        </div>
                        <div class="destino">
                            <i-feather name="phone-incoming"></i-feather>
                            <h4>Destino</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button (click)="intervencion('ambos')" class="btn btn-success btn-block">INTERVENIR</button>
                </div>
            </tab>
        </tabset>
    </div>
</ng-template>