



.verde{
    color: rgb(77, 245, 10);
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.rojo{
    color: rgb(223, 18, 3);
    height: 20px;
    width: 20px;
    margin-left: 10px;
}



.colgar{
    position: absolute;
    left: 235px;
    
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 85, 73);
    color: white;
}

.colgar:hover{
    width: 53px;
    height: 53px;
    transition-duration: 0.5s;
    background-color: rgb(226, 66, 55);
}



.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-row: 5px;
    padding: 10px;
    font-weight: 600;
}


.card{
    height: 117px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;  
}

.carta{
    height: 110px;
}

.titulo{
    display: flex;
    justify-content: space-between;
    margin: 0px 3px;    
}

.exis{
    width: 20px;
    height: 20px;
}

.cuerpo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #41444b;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 2px;
}

.pie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(243, 243, 243);
}

.boton{
    text-align: center;
    height: 100%;
    padding: 3px;
}

.boton:hover{
    cursor: pointer;
    border-radius: 5px;
}

.amarillo{
    // background-color: rgb(255, 238, 0);
    color: #575757;
    border-radius: 0 0 0 5px;

}

.llama{
    // background-color: rgb(255, 85, 73);
    color: #575757;
    border-radius: 0 0 5px 0;
    
    
    
}

.colg{
    
    width: 18px;
    height: 18px;
}

.amarillo:hover{
    background-color: rgb(255, 238, 0);
    color: #ffffff;
}

.llama:hover{
    background-color: rgb(255, 85, 73);
    color: #f0f0f0;
}



.listaAcce{
    list-style: none;
    // padding-left: 20%;
    text-align: justify;
    padding: 20px 40px 20px 40px;
}

.carta .origen{
    padding: 10px;
    
}

.carta .destino{
    padding: 10px 10px;
    
}
