
<br>
<h1>Lista de Contactos</h1>
<a href="/Operador/Agregar"><button type="button">Agregar nuevo contacto</button></a>
<a href="/Operador/Editar"><button type="button">Editar Contacto</button></a>
<a href="/Operador/Historial"><button type="button">Historial(boton momentaneo)</button></a>
<a href="/Login"><button type="button">Salir Login(boton momentaneo)</button></a>
<table border="1">
		<tr>
			<th>Nombre</th>
			<th>Estado</th>
			<th>Numero</th>
			<th>Options</th>
		</tr>
		<tr>
			<td>Daniel</td>
			<td>Desconectado</td>
			<td>3001</td>
			<td>icon-icon-icon</td>
		</tr>
		<tr>
			<td>Daniel</td>
			<td>Conectado</td>
			<td>3001</td>
			<td>icon-icon-icon</td>
		</tr>
		<tr>
			<td>Daniel</td>
			<td>Conectado</td>
			<td>3001</td>
			<td>icon-icon-icon</td>
		</tr>
		<tr>
			<td>Daniel</td>
			<td>Conectado</td>
			<td>3001</td>
			<td>icon-icon-icon</td>
		</tr>

</table>


