<section class="tracking">
    <div class="t-mapa" id="mapa-mapbox"></div>
    <div class="t-opciones">
        <button class="btn btn-warning">Ver actual</button>
        <button class="btn btn-info">Ver tiempo real</button>
        <section *ngFor="let position of positions">
            <div>Latitud: {{ position.lattitude }}</div>
            <div>Longitud: {{ position.longitude }}</div>
            <div class="t-opciones-boton">
                <button class="btn btn-danger" (click)="eliminarPosition(position.id)">Borrar</button>
                <button class="btn btn-warning" (click)="crearMarcador(position.longitude, position.lattitude)">
                    Mostrar
                </button>
            </div>
        </section>
    </div>
</section>
